<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="menu-top">
                    <div class="header-logo">
                        <a href="home.html">
                            <img src="./assets/images/logo.svg" alt="">
                        </a>
                        <div class="header-slogan">
                            <p>
                                In ảnh Cho con
                                <br>
                                Lưu khoảnh khắc - Giữ yêu thương
                            </p>
                        </div>
                    </div>
                    <div class="header-search">
                        <div class="form-search">
                            <form action="#">
                                <div class="form-wrap flex">
                                    <input type="text" class="input" placeholder="Tìm kiếm sản phẩm...">
                                    <input class="btn-search" type="submit" value="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header-addr">
                        <div class="icon">
                            <img src="./assets/images/marker-pin.svg" alt="">
                        </div>
                        <div class="header-addr-ct pos-relative">
                            <p class="tit">
                                Giao hoặc đến lấy tại
                                <span class="icon">
                                    <img src="./assets/images/arr-down.svg" alt="">
                                </span>
                            </p>
                            <p class="addr-ct pos-abs">Tòa nhà HH1C Linh Đàm, Phường Hoàng Liệt, Quận Hoàng Mai</p>
                            <p class="addr">Tòa nhà HH1C Linh Đàm, Phường Hoàng Liệt, Quận Hoàng Mai</p>
                        </div>
                    </div>
                    <div class="header-cart">
                        <div class="icon">
                            <span class="num">3</span>
                            <img src="./assets/images/cart-icon.svg" alt="">
                        </div>
                        <span class="text">Yêu thích</span>

                        <!-- <div class="cart-mini">
                            <div class="cart-mini-wrap">
                                <div class="cart-mini-list mb-28">
                                    <div class="cart-mini-item">
                                        <div class="cart-mini-box">
                                            <span class="close">
                                                <i class="ti-close"></i>
                                            </span>
                                            <a href="#" class="cart-mini-img">
                                                <span class="img-inner">
                                                    <img src="./assets/images/product-1.png" alt="">
                                                </span>
                                            </a>
                                            <div class="cart-mini-content">
                                                <a href="#" class="cart-mini-link">Gói in ảnh S1 - Gói 64 ảnh 6.9 và
                                                    album
                                                </a>

                                                <div class="cart-mini-desc flex flex-ai-center">
                                                    <div class="prodt-qty flex flex-ai-center">
                                                        <div class="qty flex qtyJS">
                                                            <span class="minus icon">
                                                                <img src="http://schainoffical.monamedia.net/template/assets/images/decr-icon.svg"
                                                                    alt="">
                                                            </span>
                                                            <input type="number" class="amount" name="quantity"
                                                                value="1" max="">
                                                            <span class="plus icon">
                                                                <img src="http://schainoffical.monamedia.net/template/assets/images/incre-icon.svg"
                                                                    alt="">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="cart-mini-price flex-column flex-jc-between">
                                                        <span class="curPrice block">170.000 đ</span>
                                                        <span class="oldPrice block">500.000 đ</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="cart-mini-bottom">
                                    <div class="cart-mini-total">
                                        <span class="total-text block">Tổng cộng:</span>
                                        <span class="total-num block">đ 1,170,000</span>
                                    </div>
                                    <div class="cart-mini-btn flex flex-jc-beetween">
                                        <a href="#" class="btn btn-fourth t-white">
                                            <span class="btn-inner">Xem chi tiết</span>
                                        </a>
                                        <a href="#" class="btn btn-fourth t-white">
                                            <span class="btn-inner">Thanh toán ngay</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-wrap flex flex-ai-center flex-jc-between">
                    <div class="header-btn">
                        <div class="toggle toggle-header">
                            <div class="toggle-inner">
                                <span class="toggle-item">
                                    <img src="./assets/images/menu-hd.svg" alt="">
                                </span>
                                <span class="toggle-item">
                                    <img src="./assets/images/close-hd.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <span class="toggle-text">Danh mục sản phẩm <span class="icon"><i
                                    class="fas fa-chevron-down"></i></span></span>
                    </div>
                    <div class="header-menu">
                        <div class="menu-nav">
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="home.html">Cách thức gửi ảnh</a>
                                </li>

                                <li class="menu-item dropdown current-menu-item">
                                    <a href="">Tin tức</a>

                                    <ul class="menu-list">
                                        <li class="menu-item">
                                            <a href="">
                                                Submenu 1
                                                <i class="fas fa-angle-down"></i></a>
                                        </li>
                                        <li class="menu-item dropdown">
                                            <a href="">
                                                Submenu 2
                                                <i class="fas fa-angle-down"></i></a>
                                            <ul class="menu-list">
                                                <li class="menu-item">
                                                    <a href="">
                                                        Submenu 2 1
                                                    </a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="">
                                                        Submenu 2 2
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="">Chính sách bảo mật</a>
                                </li>
                                <li class="menu-item">
                                    <a href="">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-logo">
                        <a href="home.html">
                            <img src="./assets/images/logo.svg" alt="">
                        </a>
                    </div>
                    <div class="header-box">
                        <div class="header-search">
                            <span class="icon">
                                <img src="./assets/images/search.svg" alt="">
                            </span>
    
                            <div class="form-search">
                                <form action="#">
                                    <div class="form-wrap flex">
                                        <input class="btn-search" type="submit" value="">
                                        <input type="text" class="input" placeholder="Bạn đang tìm gì?">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="header-cart">
                            <div class="icon">
                                <span class="num">3</span>
                                <img src="./assets/images/cart-icon.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="header-ct">
        <div class="header-menu-desk">
            <div class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="">Tất cả sản phẩm</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Đảo hải tặc</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Anime</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pakugan</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pokemon</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-nav flex flex-jc-between flex-ai-center">
                <div class="header-lang">
                    <div class="lang pos-relative">
                        <div class="lang-selected flex flex-ai-center">
                            <img src="./assets/images/vn-icon.svg" alt="">
                            <span class="text">VIE</span>
                            <span class="icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="lang-lst pos-abs">
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-nav">
                    <ul class="menu-list">

                        <li class="menu-item">
                            <a href="home.html"> Trang chủ </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="">Giới thiệu</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Tất cả sản phẩm</a>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Đảo hải tặc</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Anime</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pakugan</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pokemon</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="contact">
                    <ul class="contact-lst">
                        <li class="contact-item">
                            <span class="contact-text">
                                <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                <span class="tit">Địa chỉ:</span>
                                <span class="text">Tổ 5 ấp Suối Mây, xã Dương Tơ, TP. Phú Quốc, Kiên Giang
                                </span>
                            </span>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0983.533.005</span>
                            </a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0338.831.219 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sc-hd">
                <ul class="sc-hd-list">
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/fb.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/insta.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/youtube.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/tt.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="bg-fade hd-bg"></div>

    <div class="breadcrumbs other">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item">
                    <a href="#">Trang chủ</a>
                </li>

                <li class="breadcrumbs-item current">
                    <a href="#">Thông tin tài khoản</a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main">
        <div class="khuyenmai">
            <div class="container">
                <div class="khuyenmai-con d-wrap">
                    <div class="km-left d-item">
                        <div class="content d-wrap">
                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>

                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>

                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>

                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>

                            <div class="item-content d-2 d-item">
                                <a href="" class="item-img">
                                    <img src="./assets/images/vkm.png" alt="">
                                </a>
                                <div class="author">
                                    <div class="author-img">
                                        <img src="./assets/images/author.svg" alt="">
                                    </div>
                                    <p class="author-text">
                                        The Mona
                                    </p>
                                </div>
                                <a href="" class="item-link">
                                    Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                                </a>
                                <p class="text">
                                    Lorem ipsum dolor sit amet consectetur. Neque adipiscing quisque etiam purus orci
                                    ultrices neque. Viverra dui ultrices diam in.
                                </p>
                                <a href="" class="btn icon-right">
                                    <span class="btn-inner">
                                        <span class="text">Xem chi tiết</span>

                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="prolist-bott flex flex-wrap flex-ai-center flex-jc-center">
                            <ul class="page-numbers">

                                <li>
                                    <span class="page-numbers current">1</span>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">2</a>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">3</a>
                                </li>
                                <li>
                                    <span class="page-numbers">...</span>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">10</a>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">11</a>
                                </li>
                                <li>
                                    <a href="" class="page-numbers">12</a>
                                </li>
                            </ul>


                        </div>
                    </div>

                    <div class="km-right d-item">
                        <div class="km-right-search">
                            <input class="input-search" type="text" placeholder="Tìm kiếm mã khuyến mãi">
                            <a href="" class="btn-search">
                                <span><i class="fas fa-search"></i></span>
                            </a>
                        </div>
                        <div class="km-right-top">
                            <div class="title">
                                <p class="title-text">
                                    Tin tức gần đây
                                </p>
                            </div>
                            <div class="content">
                                <div class="content-con">
                                    <div class="img-item">
                                        <img src="./assets/images/Rectangle 90.png" alt="">
                                    </div>
                                    <div class="content-item">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="./assets/images/calendar 1.svg" alt="">
                                            </div>
                                            <p class="date-text">
                                                31/03/2023
                                            </p>
                                        </div>
                                        <a class="item-link" href="">
                                            Khuyến mãi cực khủng lên đến 50%
                                        </a>
                                        <a href="" class="item-see">
                                            Xem thêm
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="content-con">
                                    <div class="img-item">
                                        <img src="./assets/images/Rectangle 90.png" alt="">
                                    </div>
                                    <div class="content-item">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="./assets/images/calendar 1.svg" alt="">
                                            </div>
                                            <p class="date-text">
                                                31/03/2023
                                            </p>
                                        </div>
                                        <a class="item-link" href="">
                                            Khuyến mãi cực khủng lên đến 50%
                                        </a>
                                        <a href="" class="item-see">
                                            Xem thêm
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="content-con">
                                    <div class="img-item">
                                        <img src="./assets/images/Rectangle 90.png" alt="">
                                    </div>
                                    <div class="content-item">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="./assets/images/calendar 1.svg" alt="">
                                            </div>
                                            <p class="date-text">
                                                31/03/2023
                                            </p>
                                        </div>
                                        <a class="item-link" href="">
                                            Khuyến mãi cực khủng lên đến 50%
                                        </a>
                                        <a href="" class="item-see">
                                            Xem thêm
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="content-con">
                                    <div class="img-item">
                                        <img src="./assets/images/Rectangle 90.png" alt="">
                                    </div>
                                    <div class="content-item">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="./assets/images/calendar 1.svg" alt="">
                                            </div>
                                            <p class="date-text">
                                                31/03/2023
                                            </p>
                                        </div>
                                        <a class="item-link" href="">
                                            Khuyến mãi cực khủng lên đến 50%
                                        </a>
                                        <a href="" class="item-see">
                                            Xem thêm
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="content-con">
                                    <div class="img-item">
                                        <img src="./assets/images/Rectangle 90.png" alt="">
                                    </div>
                                    <div class="content-item">
                                        <div class="date">
                                            <div class="date-img">
                                                <img src="./assets/images/calendar 1.svg" alt="">
                                            </div>
                                            <p class="date-text">
                                                31/03/2023
                                            </p>
                                        </div>
                                        <a class="item-link" href="">
                                            Khuyến mãi cực khủng lên đến 50%
                                        </a>
                                        <a href="" class="item-see">
                                            Xem thêm
                                            <span class="icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="poster">
                            <div class="img-poster">
                                <img src="./assets/images/Image.png" alt="">
                            </div>
                            <div class="poster-content">
                                <div class="content-pt">
                                    <p class="content-text">
                                        Giảm <strong> 10%</strong> cho hóa đơn từ 200k
                                    </p>
                                </div>
                                <a href="" class="btn">
                                    <span class="btn-inner">
                                        <span class="text">Đặt hàng ngay</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="banner-main">
            <div class="container">
                <div class="img-top-left">
                    <img src="./assets/images/vBannerTopLeft.png" alt="">
                </div>
                <div class="img-bottom-left">
                    <img src="./assets/images/imgCham2.png" alt="">
                </div>
                <div class="img-top-right">
                    <img src="./assets/images/imgCham.png" alt="">
                </div>
                <div class="img-bottom-right">
                    <img src="./assets/images/vBottomRight.png" alt="">
                </div>
                <div class="banner-main-con d-wrap">
                    <div class="item-left d-2 d-item">
                        <div class="item-left-top">
                            <div class="img-item-top">
                                <div class="img-con">
                                    <img src="./assets/images/VImage1.png" alt="">
                                </div>
                            </div>
                            <div class="img-item-top">
                                <div class="img-con">
                                    <img src="./assets/images/VImage1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item-left-bottom">
                            <div class="img-item-bottom">
                                <div class="img-con">
                                    <img src="./assets/images/VImage1.png" alt="">
                                </div>
                            </div>
                            <div class="img-item-bottom">
                                <div class="img-con">
                                    <img src="./assets/images/VImage1.png" alt="">
    
                                </div>
                            </div>
                            <div class="img-item-bottom">
                                <div class="img-con">
                                    <img src="./assets/images/VImage1.png" alt="">
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="item-right d-2 d-item">
                        <div class="title">
                            <p class="title-text">
                                In ảnh cho con để lưu giữ khoảnh khắc và yêu thương
                            </p>
                        </div>
                        <div class="content">
                            <p class="content-text">
                                Được thành lập từ đầu năm 2016, cho tới nay In Ảnh Cho Con đã có 6 năm phục vụ các bà mẹ và
                                gia đình trong việc in ấn ảnh và các sản phẩm về ảnh. Với tiêu chí luôn sử dụng những vật
                                liệu tốt nhất để tạo nên sản phẩm, In Ảnh Cho Con tin rằng những bức ảnh sẽ đồng hành với
                                con và cả gia đình đến rất nhiều năm sau này.
                            </p>
                        </div>
                        <ul class="note">
                            <li class="note-list">
                                <div class="icon-tik">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="note-text">
                                    <p class="text">
                                        Thời gian giao hàng 4-6 ngày kể từ khi gửi ảnh.
                                    </p>
                                </div>
                            </li>
                            <li class="note-list">
                                <div class="icon-tik">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="note-text">
                                    <p class="text">
                                        Thời gian giao hàng 4-6 ngày kể từ khi gửi ảnh.
                                    </p>
                                </div>
                            </li>
                            <li class="note-list">
                                <div class="icon-tik">
                                    <i class="far fa-check-circle"></i>
                                </div>
                                <div class="note-text">
                                    <p class="text">
                                        Thời gian giao hàng 4-6 ngày kể từ khi gửi ảnh.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>



    

    <footer class="footer">
        <div class="container">
            <div class="footer-wrap ">

                <div class="footer-content">
                    <div class="footer-box">
                        <div class="footer-box-list d-wrap">
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Về chúng tôi</h3>
                                <p class="footer-text">
                                    Với những chất liệu tốt nhất, In Ảnh Cho Con mang lại cho sự an tâm dành cho khách
                                    hàng. Chúng tôi tạo ra những bức ảnh hoàn hảo nhất, để lưu giữ những tấm hình, những
                                    kỉ niệm đến mãi về sau.
                                </p>
                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Thông tin liên hệ</h3>
                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/location.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    Tầng 2, Tòa nhà HH1C Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/mail.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    inanhchocon@gmail.com
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/phone.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    0392734903
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Chính sách mua hàng</h3>
                                <ul class="menu flex-wrap">
                                    <li class="menu-item">
                                        <a href="">
                                            In công nghệ in laze, Giấy in chính hãng
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Cam kết bảo mật thông tin khách hàng
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Hỗ trợ 24/7 với các kênh chat, email & phone
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Giao hàng dự kiến: Thứ 2 - Chủ Nhật từ 9h00 - 17h00
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Thông tin liên hệ</h3>

                                <ul class="footer-list list-link  mb-32">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap ft-icon">
                                                <img src="./assets/images/facebook.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap ft-icon">
                                                <img src="./assets/images/twitter.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap ft-icon">
                                                <img src="./assets/images/instagram.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap ft-icon">
                                                <img src="./assets/images/gg.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap ft-icon">
                                                <img src="./assets/images/youtube.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="img-bct">
                                    <img src="./assets/images/imageBCT.png" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-con">
            <div class="container">
                <div class="footer-bottom flex flex-wrap flex-jc-between">
                    <div class="footer-copyright">
                        <p class="text text-center">
                            <span class="img">
                                <img src="./assets/images/Signature 2.png" alt="">
                            </span>
                        </p>
                    </div>

                    <div class="footer-sc">
                        <p class="text"> @2023</p>
                    </div>

                </div>
            </div>
        </div>


    </footer>

    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>