<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/backdoor.css" />
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>

</head>

<body>
    <header class="header">
        <div class="container large">
            <div class="header-wrap flex flex-ai-center flex-jc-between">
                <div class="header-btn">
                    <div class="toggle toggle-header">
                        <div class="toggle-inner">
                            <span class="toggle-item">
                                <img src="./assets/images/menu-hd.svg" alt="">
                            </span>
                            <span class="toggle-item">
                                <img src="./assets/images/close-hd.svg" alt="">
                            </span>
                        </div>
                    </div>
                    <span class="toggle-text">Danh mục</span>
                </div>
                <div class="header-menu">
                    <div class="menu-nav">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="home.html"> Trang chủ </a>
                            </li>
                            <li class="menu-item">
                                <a href="">Giới thiệu</a>
                            </li>
                            <li class="menu-item dropdown current-menu-item">
                                <a href="">Sản phẩm</a>

                                <ul class="menu-list">
                                    <li class="menu-item">
                                        <a href="">
                                            Submenu 1
                                            <i class="fas fa-angle-down"></i></a>
                                    </li>
                                    <li class="menu-item dropdown">
                                        <a href="">
                                            Submenu 2
                                            <i class="fas fa-angle-down"></i></a>
                                        <ul class="menu-list">
                                            <li class="menu-item">
                                                <a href="">
                                                    Submenu 2 1
                                                </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="">
                                                    Submenu 2 2
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-logo">
                    <a href="home.html">
                        <img src="./assets/images/logo.svg" alt="">
                    </a>
                </div>
                <div class="header-lang">
                    <div class="lang pos-relative">
                        <div class="lang-selected flex flex-ai-center">
                            <img src="./assets/images/vn-icon.svg" alt="">
                            <span class="text">VIE</span>
                            <span class="icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="lang-lst pos-abs">
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-search">
                    <span class="icon">
                        <img src="./assets/images/search.svg" alt="">
                        <img src="./assets/images/close-icon.svg" alt="">
                    </span>
                    <div class="form-search">
                        <form method="get" id="searchform" action="http://chaangchiia.monamedia.net/">
                            <div class="form-wrap flex">
                                <input type="search" name="s" value="" class="input" placeholder="Tìm kiếm">
                                <input class="btn-search" type="submit" value="">
                            </div>
                        </form>
                    </div>
                </div>



            </div>
            <div class="header-user">
                <div class="icon">
                    <img src="./assets/images/user-icon.svg" alt="">
                </div>

                <div class="header-modal">
                    <div class="header-modal-wrap">
                        <div class="header-modal-box">
                            <span class="avt">
                                <img src="./assets/images/avt.png" alt="">
                            </span>
                            <span class="name">Trần Đạt</span>
                        </div>

                        <ul class="header-modal-list">
                            <li class="header-modal-item">
                                <a href="" class="header-modal-link">Thông tin tài khoản</a>
                            </li>
                            <li class="header-modal-item">
                                <a href="" class="header-modal-link">Đơn hàng của tôi</a>
                            </li>
                        </ul>

                        <div class="header-modal-bottom">
                            <a href="" class="header-modal-link">Đăng xuất</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="header-cart">
                <a href="" class="btn icon-right">
                    <span class="btn-inner">
                        <span class="text">Giỏ hàng</span>

                        <span class="icon">
                            <img src="./assets/images/cart-icon.svg" alt="">
                        </span>
                    </span>
                </a>
            </div>
        </div>
        </div>
    </header>

    <div class="header-ct">
        <div class="header-menu-desk">
            <div class="menu-nav">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="">Tất cả sản phẩm</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Đảo hải tặc</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Anime</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pakugan</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="">Pokemon</a>

                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="">
                                    Đảo hải tặc 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="">
                                    Đảo hải tặc 2
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-nav flex flex-jc-between flex-ai-center">
                <div class="header-lang">
                    <div class="lang pos-relative">
                        <div class="lang-selected flex flex-ai-center">
                            <img src="./assets/images/vn-icon.svg" alt="">
                            <span class="text">VIE</span>
                            <span class="icon">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <ul class="lang-lst pos-abs">
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                            <li class="lang-item">
                                <img src="./assets/images/vn-icon.svg" alt="">
                                <span class="text">VIE</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="menu-nav">
                    <ul class="menu-list">

                        <li class="menu-item">
                            <a href="home.html"> Trang chủ </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="">Giới thiệu</a>
                        </li>
                        <li class="menu-item">
                            <a href="">Tất cả sản phẩm</a>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Đảo hải tặc</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Anime</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pakugan</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="">Pokemon</a>

                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="">
                                        Đảo hải tặc 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="">
                                        Đảo hải tặc 2
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="contact">
                    <ul class="contact-lst">
                        <li class="contact-item">
                            <span class="contact-text">
                                <span class="icon"><i class="fa-solid fa-location-dot"></i></span>
                                <span class="tit">Địa chỉ:</span>
                                <span class="text">Tổ 5 ấp Suối Mây, xã Dương Tơ, TP. Phú Quốc, Kiên Giang
                                </span>
                            </span>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0983.533.005</span>
                            </a>
                        </li>
                        <li class="contact-item">
                            <a href="#" class="contact-text">
                                <span class="icon"><i class="fa-solid fa-phone"></i></span>
                                <span class="tit">Số điện thoại:</span>
                                <span class="text">0338.831.219 </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sc-hd">
                <ul class="sc-hd-list">
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/fb.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/insta.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/youtube.png" alt="">
                        </a>
                    </li>
                    <li class="sc-hd-item">
                        <a href="#" class="sc-hd-link">
                            <img src="./assets/images/tt.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="bg-fade hd-bg"></div>

    <div class="breadcrumbs other">
        <div class="container">
            <ul class="breadcrumbs-list">
                <li class="breadcrumbs-item">
                    <a href="#">Trang chủ</a>
                </li>

                <li class="breadcrumbs-item current">
                    <a href="#">Thông tin tài khoản</a>
                </li>
            </ul>
        </div>
    </div>

    <main class="main">
        <div class="khuyenmai ">
            <div class="container">
                <div class="khuyenmai-con d-wrap">
                    <div class="km-left d-item">
                        <div class="title">
                            <h1 class="title-text">
                                Khuyến mãi cực khủng! Giảm 50% cho toàn bộ khung ảnh thiết kế theo số.
                            </h1>
                        </div>
                        <div class="author">
                            <div class="author-img">
                                <img src="./assets/images/author.svg" alt="">
                            </div>
                            <p class="author-text">
                                The Mona
                            </p>
                        </div>
                        <div class="content">
                            <div class="content-text">
                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis arcu id augue
                                    malesuada scelerisque. Urna molestie rhoncus volutpat interdum condimentum ultrices
                                    orci velit. Ante bibendum senectus elit amet quis. Eget nisl dui, non integer non
                                    venenatis. Sapien elit nisl nunc aliquam sapien amet facilisis tellus diam. Vel
                                    aenean ut felis, quisque. Penatibus cursus sed orci eu et. Nibh in eget adipiscing
                                    justo. Erat donec convallis neque nisl ipsum.</p>
                            </div>
                            <div class="content-img">
                                <img src="./assets/images/vKhuyenMaiCt.png" alt="">
                            </div>
                            <div class="content-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis arcu id augue
                                    malesuada scelerisque. Urna molestie rhoncus volutpat interdum condimentum ultrices
                                    orci velit. Ante bibendum senectus elit amet quis. Eget nisl dui, non integer non
                                    venenatis. Sapien elit nisl nunc aliquam sapien amet facilisis tellus diam. Vel
                                    aenean ut felis, quisque. Penatibus cursus sed orci eu et. Nibh in eget adipiscing
                                    justo. Erat donec convallis neque nisl ipsum. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Facilisis arcu id augue malesuada scelerisque. Urna
                                    molestie rhoncus volutpat interdum condimentum ultrices orci velit. Ante bibendum
                                    senectus elit amet quis. Eget nisl dui, non integer non venenatis. Sapien elit nisl
                                    nunc aliquam sapien amet facilisis tellus diam. Vel aenean ut felis, quisque.
                                    Penatibus cursus sed orci eu et. Nibh in eget adipiscing justo. Erat donec convallis
                                    neque nisl ipsum.</p>
                            </div>
                            <div class="content-note">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis arcu id augue
                                    malesuada scelerisque. Urna molestie rhoncus volutpat interdum condimentum ultrices
                                    orci velit. Ante bibendum senectus elit amet quis. Eget nisl dui, non integer non
                                    venenatis. Sapien elit nisl nunc aliquam sapien amet facilisis tellus diam. Vel
                                    aenean ut felis, quisque. Penatibus cursus sed orci eu et. Nibh in eget adipiscing
                                    justo. Erat donec convallis neque nisl ipsum. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Facilisis arcu id augue malesuada scelerisque. Urna
                                    molestie rhoncus volutpat interdum condimentum ultrices orci velit.
                                </p>
                            </div>
                            <div class="content-box-img">
                                <div class="img-item">
                                    <img src="./assets/images/vKhuyenMaiCt2.png" alt="">
                                </div>
                                <div class="img-item">
                                    <img src="./assets/images/vKhuyenMaiCt2.png" alt="">
                                </div>
                            </div>
                            <div class="content-text border-bt">
                                <h3>
                                    Erat donec convallis neque nisl ipsum.
                                </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Facilisis arcu id augue
                                    malesuada scelerisque. Urna molestie rhoncus volutpat interdum condimentum ultrices
                                    orci velit. Ante bibendum senectus elit amet quis. Eget nisl dui, non integer non
                                    venenatis. Sapien elit nisl nunc aliquam sapien amet facilisis tellus diam. Vel
                                    aenean ut felis, quisque. Penatibus cursus sed orci eu et. Nibh in eget adipiscing
                                    justo. Erat donec convallis neque nisl ipsum. Lorem ipsum dolor sit amet,
                                    consectetur adipiscing elit. Facilisis arcu id augue malesuada scelerisque. Urna
                                    molestie rhoncus volutpat interdum condimentum ultrices orci velit. Ante bibendum
                                    senectus elit amet quis. Eget nisl dui, non integer non venenatis. Sapien elit nisl
                                    nunc aliquam sapien amet facilisis tellus diam. Vel aenean ut felis, quisque.
                                    Penatibus cursus sed orci eu et. Nibh in eget adipiscing justo. Erat donec convallis
                                    neque nisl ipsum.</p>
                            </div>
                            <div class="content-share">
                                <div class="title">
                                    <p class="title-text">Chia sẻ bài viết</p>
                                </div>
                                <div class="content">
                                    <a href="" class="img-share">
                                        <img src="./assets/images/facebookCt.svg" alt="">
                                    </a>
                                    <a href="" class="img-share">
                                        <img src="./assets/images/instagramCt.svg" alt="">
                                    </a>
                                    <a href="" class="img-share">
                                        <img src="./assets/images/messengerCt.svg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="km-right d-item">
                        <div class="title">
                            <p class="title-text">
                                Tin tức gần đây
                            </p>
                        </div>
                        <div class="content">
                            <div class="content-con">
                                <div class="img-item">
                                    <img src="./assets/images/Rectangle 90.png" alt="">
                                </div>
                                <div class="content-item">
                                    <div class="date">
                                        <div class="date-img">
                                            <img src="./assets/images/calendar 1.svg" alt="">
                                        </div>
                                        <p class="date-text">
                                            31/03/2023
                                        </p>
                                    </div>
                                    <a class="item-link" href="">
                                        Khuyến mãi cực khủng lên đến 50%
                                    </a>
                                    <a href="" class="item-see">
                                        Xem thêm
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="content-con">
                                <div class="img-item">
                                    <img src="./assets/images/Rectangle 90.png" alt="">
                                </div>
                                <div class="content-item">
                                    <div class="date">
                                        <div class="date-img">
                                            <img src="./assets/images/calendar 1.svg" alt="">
                                        </div>
                                        <p class="date-text">
                                            31/03/2023
                                        </p>
                                    </div>
                                    <a class="item-link" href="">
                                        Khuyến mãi cực khủng lên đến 50%
                                    </a>
                                    <a href="" class="item-see">
                                        Xem thêm
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="content-con">
                                <div class="img-item">
                                    <img src="./assets/images/Rectangle 90.png" alt="">
                                </div>
                                <div class="content-item">
                                    <div class="date">
                                        <div class="date-img">
                                            <img src="./assets/images/calendar 1.svg" alt="">
                                        </div>
                                        <p class="date-text">
                                            31/03/2023
                                        </p>
                                    </div>
                                    <a class="item-link" href="">
                                        Khuyến mãi cực khủng lên đến 50%
                                    </a>
                                    <a href="" class="item-see">
                                        Xem thêm
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="content-con">
                                <div class="img-item">
                                    <img src="./assets/images/Rectangle 90.png" alt="">
                                </div>
                                <div class="content-item">
                                    <div class="date">
                                        <div class="date-img">
                                            <img src="./assets/images/calendar 1.svg" alt="">
                                        </div>
                                        <p class="date-text">
                                            31/03/2023
                                        </p>
                                    </div>
                                    <a class="item-link" href="">
                                        Khuyến mãi cực khủng lên đến 50%
                                    </a>
                                    <a href="" class="item-see">
                                        Xem thêm
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="content-con">
                                <div class="img-item">
                                    <img src="./assets/images/Rectangle 90.png" alt="">
                                </div>
                                <div class="content-item">
                                    <div class="date">
                                        <div class="date-img">
                                            <img src="./assets/images/calendar 1.svg" alt="">
                                        </div>
                                        <p class="date-text">
                                            31/03/2023
                                        </p>
                                    </div>
                                    <a class="item-link" href="">
                                        Khuyến mãi cực khủng lên đến 50%
                                    </a>
                                    <a href="" class="item-see">
                                        Xem thêm
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="poster">
                            <div class="img-poster">
                                <img src="./assets/images/Image.png" alt="">
                            </div>
                            <div class="poster-content">
                                <div class="content">
                                    <p class="content-text">
                                        Giảm <strong> 10%</strong> cho hóa đơn từ 200k
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>



    <div class="links-main">
        <ul class="links-main-list">
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vzalo.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vMess.svg" alt="">
                </a>
            </li>
            <li class="links-main-item">
                <a class="link-items" href="">
                    <img src="./assets/images/vtiktok.svg" alt="">
                </a>
            </li>
            <li class="links-main-item scroll-to-top">
                <div class="link-items">
                    <span class="items-top" href="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                        <img src="./assets/images/arrowTop.svg" alt="">
                    </span>



                </div>

            </li>
        </ul>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-wrap ">

                <div class="footer-content">
                    <div class="footer-box">
                        <div class="footer-box-list d-wrap">
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Về chúng tôi</h3>
                                <p class="footer-text">
                                    Với những chất liệu tốt nhất, In Ảnh Cho Con mang lại cho sự an tâm dành cho khách
                                    hàng. Chúng tôi tạo ra những bức ảnh hoàn hảo nhất, để lưu giữ những tấm hình, những
                                    kỉ niệm đến mãi về sau.
                                </p>
                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Thông tin liên hệ</h3>
                                <ul class="footer-list">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/location.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    Tầng 2, Tòa nhà HH1C Linh Đàm, Hoàng Liệt, Hoàng Mai, Hà Nội
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/mail.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    inanhchocon@gmail.com
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <span class="icon">
                                                    <img src="./assets/images/phone.svg" alt="">
                                                </span>
                                                <span class="text">
                                                    0392734903
                                                </span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Chính sách mua hàng</h3>
                                <ul class="menu flex-wrap">
                                    <li class="menu-item">
                                        <a href="">
                                            In công nghệ in laze, Giấy in chính hãng
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Cam kết bảo mật thông tin khách hàng
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Hỗ trợ 24/7 với các kênh chat, email & phone
                                        </a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="">
                                            Giao hàng dự kiến: Thứ 2 - Chủ Nhật từ 9h00 - 17h00
                                        </a>
                                    </li>
                                </ul>

                            </div>
                            <div class="footer-box-item d-item">
                                <h3 class="footer-title">Thông tin liên hệ</h3>

                                <ul class="footer-list list-link  mb-32">
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <img src="./assets/images/facebook.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <img src="./assets/images/twitter.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <img src="./assets/images/instagram.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <img src="./assets/images/gg.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="footer-item">
                                        <a href="" class="footer-link">
                                            <span class="footer-link-wrap">
                                                <img src="./assets/images/youtube.svg" alt="">
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="img-bct">
                                    <img src="./assets/images/imageBCT.png" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-con">
            <div class="container">
                <div class="footer-bottom flex flex-wrap flex-jc-between">
                    <div class="footer-copyright">
                        <p class="text text-center">
                            <span class="img">
                                <img src="./assets/images/Signature 2.png" alt="">
                            </span>
                        </p>
                    </div>

                    <div class="footer-sc">
                        <p class="text"> @2023</p>
                    </div>

                </div>
            </div>
        </div>


    </footer>

    <div class="back-to-top backToTop">
        <div class="triangle"></div>
        <div class="triangle"></div>
        <div class="triangle"></div>
    </div>

    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/jquery/jquery.easings.min.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/magnific/jquery.magnific-popup.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/countup/jquery.countup.min.js"></script>
    <script src="./js/library/countup/jquery.waypoints.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/popper/popper.min.js"></script>
    <script src="./js/library/plyr/plyr.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/imageload/imagesloaded.pkgd.min.js "></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/main.js" type="module"></script>

</body>

</html>