.chinh-sach {
    padding-top: 6rem;
}

.chinh-sach-left {
    width: calc(100% * 3 / 12 + 4.8rem);
}

.chinh-sach-right {
    flex: 1;

    .title {
        padding-bottom: 2rem;
        &-text {
            font-weight: 600;
            @include fz-32;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: $color-text;
        }
    }

    .content {
        p {
            font-weight: 400;
            @include fz-16;
            line-height: 1.5;
            color: $color-text;
        }
    }

    .title-note {
        p {
            font-weight: 500;
            @include fz-20;
            line-height: 1.5;
            color: #000000;
        }
    }
}

.author {
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 0;
}

.view {
    display: flex;
    align-items: center;
    padding-bottom: 0rem;
    &-img {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        color: $color-text;
        font-weight: 400;
        @include fz-16;
        line-height: 1.5;
    }
}

.date {
    display: flex;
    align-items: center;
    padding-bottom: 0rem;

    &-img {
        width: 1.9rem;
        height: 1.9rem;
        margin-right: 1rem;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &-text {
        color: $color-text;
        font-weight: 400;
        @include fz-16;
        line-height: 1.5;
    }
}

.box-item {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 0.03rem solid rgba(88, 88, 88, 0.77);
    margin-bottom: 1.2rem;
}

.box-question {
    max-width: 33.3rem;
    margin: 4.6rem auto 9.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .box-title {
        font-weight: 500;
        @include fz-20;
        line-height: 1.5;
        color: #000000;
        margin-bottom: 2rem;
    }

    .box-btn {
        display: flex;
        justify-content: center;

        .btn {
            &:first-child {
                margin-right: 2.4rem;
            }
        }
    }
}

.banner-cs {
    padding-top: 6.7rem;
    padding-bottom: 7rem;
    background-color: $color-pri;

    .content {
        max-width: 70.1rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .title{
            margin-bottom: 1.7rem;
            &-text {
                text-align: center;
                font-weight: 600;
                @include fz-32;
                line-height: 1.5;
    
                letter-spacing: 0.04em;
    
                color: #000000;
            }
        }

       
    }

    .box-btn {
        display: flex;
        justify-content: center;
    }
}
