.contact{
    padding-top: 6rem;
    padding-bottom: 9.6rem;
}

.contact-title{
    .text{
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        
        /* đen */
        
        color: #2E3237;
    }
}