.product-home-eight{
    background-color: #FEF8EA;
    margin: 9.6rem 0;

    &-con{
        padding-top: 9.6rem;
        padding-bottom: 9.6rem;

        .product-top-relate{
            .link-relate{
                color: $color-text;

                i{
                    color: $color-second;
                }
            }
        }
    }


}

.product-home-eight-content{
    row-gap: 2rem;
}