.khuyenmai {
    padding-top: 6rem;
    padding-bottom: 9.6rem;
}

.km-left {
    width: calc(9 * 100% / 12);
    padding-right: 4rem;

    .title {
        padding-bottom: 0.8rem;

        &-text {
            font-weight: 600;
            @include fz-32;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: $color-text;
        }
    }

    .author {
        display: flex;
        align-items: center;
        padding-bottom: 1.3rem;
        &-img {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-text {
            color: $color-text;
            font-weight: 400;
            @include fz-16;
            line-height: 1.5;
        }
    }

    .content {
        &-text {
            h3 {
                font-weight: 600;
                @include fz-16;
                line-height: 1.5;
                color: $color-text;
                margin-bottom: 2rem;
            }
            p {
                font-weight: 400;
                @include fz-16;
                line-height: 1.5;
                color: $color-text;
            }

            &.border-bt {
                padding-bottom: 3rem;
                border-bottom: 0.03rem solid rgba(88, 88, 88, 0.77);
            }
        }

        &-img {
            margin-top: 0.5rem;
            margin-bottom: 3rem;
            padding-top: calc(100% * 625 / 852);
            position: relative;
            overflow: hidden;
            width: 100%;
            display: block;
            border-radius: 1.2rem;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &-note {
            margin: 4.5rem 0;
            padding-left: 1.7rem;
            border-left: 1rem solid $color-second;

            p {
                font-weight: 400;
                @include fz-16;
                line-height: 1.5;
                color: $color-text;
                font-style: italic;
            }
        }

        &-box-img {
            display: flex;
            align-items: center;
            margin-bottom: 3.6rem;
            .img-item {
                max-width: 40.8rem;
                margin-right: 3.8rem;
                img {
                    width: 100%;
                    height: 100%;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-share {
            padding-top: 2rem;
            padding-bottom: 9.6rem;
            max-width: 13.2rem;
            .title {
                padding-bottom: 1.6rem;
                &-text {
                    font-weight: 600;
                    @include fz-16;
                    line-height: 1.5;
                    color: #696969;
                }
            }

            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.km-right {
    flex: 1;

    .title {
        padding: 1.5rem 0;
        background-color: #0050b3;
        border-top-right-radius: 0.8rem;
        border-top-left-radius: 0.8rem;

        &-text {
            @include fz-20;
            line-height: 1.5;
            text-align: center;
            color: #ffffff;
            font-weight: 600;
        }
    }
    .content {
        background: rgba(46, 50, 55, 0.05);
        border: 1px solid rgba(46, 50, 55, 0.2);
        padding: 1.4rem 2rem 2.4rem;

        &-con {
            display: flex;

            .img-item {
                max-width: 8.5rem;
            
                margin-right: 0.9rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .content-item {
                height: 100%;
                .date {
                    display: flex;
                    &-img {
                        width: 2.4rem;
                        height: 2.4rem;
                        margin-right: 1rem;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &-text {
                        font-weight: 400;
                        @include fz-14;
                        line-height: 1.6;
                        color: #444444;
                    }
                }
            }
        }
    }
}
