.khuyenmai {
    padding-top: 6rem;
    padding-bottom: 9.6rem;
}

.km-left{
    width: calc(9 * 100% / 12);
}

.title {
   padding-bottom: 0.8rem;

    &-text {
      
        font-weight: 600;
        @include fz-32;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: $color-text;
    }
}

.author{
    display: flex;
    align-items: center;
    &-img{
        width: 2.4rem;
        height: 2.4rem;

        img{
            width: 100%;
            height: 100%;
        }
    }


    &-text{
        
    }
}
