.product-chi-tiet {
    padding-top: 4rem;
    padding-bottom: 9.6rem;

    border-bottom: 0.1rem solid rgba(46, 50, 55, 0.2);

    &-top {
        border-bottom: 0.1rem solid rgba(46, 50, 55, 0.2);

        .product-ct-box {
            display: flex;
        }

        .product-tabs {
            font-weight: 600;
            @include fz-20;
            line-height: 1.5;
            padding-bottom: 1.4rem;
            color: $color-text;
            max-width: 19.2rem;
            &:first-child{
                margin-right: 9rem;
            }

            &::before{
                content: " ";
                width: 80%;
                bottom: 0;
            }

            &.active{
                border-bottom: 0.2rem solid $color-pri;
                
            }
        }
    }
}
