.aboutsec {
  padding: 4rem 0 8rem 0;

  .exp {
    width: 27.3rem;
    height: 19.8rem;
    color: white;
    @include mid-flex;
    flex-direction: column;
    background: $color-pri;
    position: absolute;
    top: 100%;
    flex-shrink: 0;
    left: 100%;
    transform: translate(-9rem, -0.5rem);

    .num {
      font-weight: 700;
      font-size: 7.2rem;
      line-height: 1;
      letter-spacing: 0.005em;
      margin-bottom: 1rem;
    }

    .text {
      font-weight: 500;
    }
  }

  &-title {
    margin-bottom: 1.4rem;
  }

  &-left {
    width: calc(100% * 7 / 12);

    @include max(1024px) {
      width: 100%;
      margin-bottom: 3rem;
    }

    .exp {
      @include max(1024px) {
        display: none !important;
      }
    }
  }

  &-right {
    flex: 1;

    @include max(1024px) {
      @include flex;
      flex-wrap: wrap;
    }

    @include max(600px) {
      justify-content: center;
    }

    .exp {
      position: static;
      transform: none;

      @include min(1025px) {
        display: none;
      }
    }
  }

  &-content {
    max-width: 60rem;

    @include max(1024px) {
      max-width: none;
    }
  }

  &-img {
    z-index: 3;

    @include max(1024px) {
      flex: 1;
      margin-left: var(--pdGen2);
    }

    @include max(600px) {
      flex-basis: 100%;
      margin-top: 3rem;
      margin-left: 0;
    }
  }

  &-dc {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);

    @include max(1201px) {
      right: 10%;
    }

    &-outer {
      margin-right: calc((100vw - 120rem) / -2);
      max-width: 63.3rem;
      transform: translateY(-1rem);

      @include max(1024px) {
        margin: auto;
        width: 100%;
        max-width: none;

      }

      img {
        max-width: 63.3rem;
        margin: auto;
      }
    }
  }

  .content {
    margin-bottom: 3.1rem;
    position: relative;
    z-index: 10;

    &-2 {
      max-width: 47.8rem;

      .txt {
        @include max(600px) {
          font-size: 1.4rem;
          margin-bottom: 1rem;
        }
      }
    }

    p {
      margin-bottom: 1.6rem;

      @include max(600px) {
        font-size: 1.4rem;
        margin-bottom: 1rem;
      }
    }
  }


}

.visionsec {
  padding-top: 7.4rem;
  clip-path: inset(0 0 0);
  overflow: hidden;

  @include max(1201px) {
    padding-top: 4rem;
  }

  .container {
    max-width: 154.8rem;
  }

  .swiper {
    &-slide {
      @include max(1024px) {
        width: 43%;
      }

      @include max(700px) {
        width: 58%;
      }

      @include max(500px) {
        width: 80%;
      }

      @include max(400px) {
        width: 90%;
      }

      &:not(:last-child) {
        .visionsec-item {
          &::before {
            position: absolute;
            content: "";
            width: 0.1rem;
            height: 100%;
            max-height: 37.7rem;
            top: 0;
            right: 0;
            background: linear-gradient(180deg, #FFFFFF 0%, rgba(217, 217, 217, 0) 100%);
            opacity: 0.43;
          }
        }
      }
    }
  }

  &-desc {
    width: 63.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  &-bg {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;


    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, #156939 0%, rgba(57, 177, 108, 0) 78.72%);
      top: 0;
      left: 0;
    }
  }

  &-sl {
    margin-left: -3.7rem;
    margin-right: -3.7rem;

    @include max(1201px) {
      margin-left: calc(var(--pdGen)*-1);
      margin-right: calc(var(--pdGen)*-1);
    }
  }

  &-item {
    padding: 0 3.7rem;
    position: relative;





    @include max(1201px) {
      padding: 0 var(--pdGen);
    }

    &-wrap {
      background: linear-gradient(180deg, #51D188 0%, rgba(92, 237, 154, 0) 100%);
      border-radius: 0.4rem;
      padding: 9.6rem 5rem;
      color: white;
      text-align: center;

      @include max(1201px) {
        padding: 5.4rem 3.2rem;
      }

      @include max(1024px) {
        padding: 4rem 2.4rem;
      }

      @include max(600px) {
        padding: 2.4rem 1.2rem;
      }
    }

    &-icon {
      width: 9.5rem;
      height: 9.5rem;
      border-radius: 50%;
      border: 0.7rem solid #AEFFD1;
      padding: 2.45rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--pdGen2);

      @include max(1024px) {
        width: 8rem;
        height: 8rem;
        border: 0.5rem solid #AEFFD1;
        padding: 1.6rem;
      }
    }

    &-title {
      font-weight: 700;
      @include fz-24;
      line-height: 1.33;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      opacity: 0.98;
      margin-bottom: 2.4rem;
      max-width: 23.3rem;
      margin-left: auto;
      margin-right: auto;
    }

    &-desc {
      font-size: 1.4rem;
      line-height: 1.57;
      text-align: center;
      letter-spacing: 0.005em;
      opacity: 0.98;
      min-height: 16.2rem;

      @include max(1201px) {
        min-height: 10rem;
      }
    }
  }

  .swiper-pagination {
    margin-bottom: 4rem;

    @include max(600px) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.about-equal {
  padding-top: 9.5rem;
  padding-bottom: 11rem;

  @include max(1201px) {
    padding: 4rem 0;
  }

  .about-content {
    .about-content-title {
      max-width: 31.7rem;
      margin-bottom: 1.6rem;

      @media only screen and (max-width:400px) {
        width: 100%;
        max-width: none;
        text-align: center;
      }
    }

    .about-content-con {
      display: flex;
      justify-content: space-between;
      align-items: start;

      .about-content-des {
        max-width: 38.4rem;
        margin-bottom: 4rem;

        .text {
          @include fz-16;
          line-height: 1.5;
          color: $color-text2;
          font-weight: 400;
          opacity: 0.9;

          @media only screen and (max-width:400px) {
            text-align: center;
          }
        }

        @media only screen and (max-width:400px) {
          width: 100%;
          margin-bottom: 2rem;
        }
      }

      .about-content-buttons {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        margin-left: 1rem;

        .btn-prev {
          margin-right: 2.4rem;
        }

        .btn-button {
          width: 40px;
          height: 40px;
          background-color: $color-text2;

          border-radius: 4px;
          transition: all 0.5s linear;
          display: flex;
          justify-content: center;
          align-items: center;

          .img-btn {
            width: 6px;
            height: 12px;
          }

          &:hover {
            background-color: $color-pri;
          }


        }

        @media only screen and (max-width:400px) {
          width: 100%;
          justify-content: center;
          margin-bottom: 2rem;
          margin-left: 0;
        }
      }

      @media only screen and (max-width:400px) {
        flex-direction: column;
        justify-content: center;
      }
    }

    .about-slide {
      .slide-img-con {
        display: block;
        width: 100%;
        padding-top: calc(100% * 303 / 218);
        overflow: hidden;
        margin-bottom: 1rem;
        position: relative;
        z-index: 1;

        &:hover::before {
          opacity: 0.7;
          visibility: visible;
        }

        &:hover::after {
          opacity: 1;
          visibility: visible;
        }

        &::before {
          content: "";
          visibility: hidden;
          transition: all 0.5s linear;

          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          background-color: #393939;
          opacity: 0;
          z-index: 2;
        }

        &::after {
          content: "";
          visibility: hidden;
          transition: all 0.5s linear;
          transform: translate(-50%, -50%);
          position: absolute;
          background: url(../assets/images/iconzoom.svg);
          background-repeat: no-repeat;
          object-fit: cover;
          z-index: 10;
          width: 2.5rem;
          height: 2.5rem;
          top: 50%;
          left: 50%;
        }

        img {
          transition: all 0.5s linear;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.branch {
  background: #F3FAF7;

  &-title {
    margin-bottom: 6.5rem;

    @include max(1201px) {
      margin-bottom: 2.4rem;
    }
  }

  &-bg {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: 156.8rem;
  }

  .swiper {
    padding: 2.4rem 2.4rem 5rem;

    &-slide {
      @include max(1024px) {
        width: 45%;
      }

      @include max(600px) {
        width: 75%;
      }

      @include max(400px) {
        width: 95%;
      }
    }
  }

  &-info {
    margin: -2.4rem -4.4rem -5rem;

    @include max(1201px) {
      margin: -2.4rem -3.4rem -5rem;
    }

    @include max(800px) {
      margin: -2.4rem -2.7rem -5rem;
    }
  }

  &-dot {
    &-list {
      flex: 1;
      margin: 0 var(--pdGen2);
      position: relative;
      z-index: 10;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.2rem;
        background: $color-pri;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
        z-index: -1;
      }
    }

    &-item {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;


      @include max(800px) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @include max(600px) {
        width: 1.4rem;
        height: 1.4rem;
      }

      &:nth-child(1) {
        background: linear-gradient(76.7deg, #FF636E 7.47%, #FF406F 90.58%);
      }

      &:nth-child(2) {
        background: linear-gradient(76.7deg, #FFA100 7.75%, #FF7A00 90.86%);
      }

      &:nth-child(3) {
        background: linear-gradient(166.7deg, #8CC6F0 7.19%, #8C91F0 90.3%);
      }
    }
  }

  &-item {
    padding: 0 2rem;

    @include max(1201px) {
      padding: 0 var(--pdGen);
    }

    &-wrap {
      padding: 2.4rem 2.8rem 2.8rem;
      border-radius: 0.4rem;
      background: white;
      transition: all 0.3s ease-in-out;

      @include hover {
        filter: drop-shadow(0.4rem 0.8rem 2.4rem rgba(3, 43, 22, 0.16));
      }

      @include max(1202px) {
        filter: drop-shadow(0.4rem 0.8rem 2.4rem rgba(3, 43, 22, 0.16));
        padding: 1.6rem;
      }
    }

    &-logo {
      width: 9.7rem;
      margin-left: auto;
      margin-bottom: 2rem;
    }

    &-title {
      font-weight: 500;
      @include fz-24;
      line-height: 1.33;
      letter-spacing: 0.005em;
      opacity: 0.7;
      padding-bottom: 2rem;
    }

    .footer-link .icon {
      background: rgba(255, 161, 0, 0.08);
    }
  }

  &-btn {
    margin: 0;
    transform: none !important;
  }

  &-top {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.2rem;
  }
}