.contact {
    
    padding: 8rem 0;

    &-content{
        display: flex;
       
        &-left {
            width: calc(100% * 5 / 12);
            &-note {
                padding-bottom: 0.8rem;
                .note-text {
                    font-weight: 500;
                    @include fz-18;
                    line-height: 1.3;
    
                    color: $color-pri;
                }
            }
    
            &-title {
                padding-bottom: 0.8rem;
                .title-text {
                    font-weight: 600;
                    @include fz-40;
                    line-height: 1.2;
                    color: $color-text;
                }
            }
    
            &-content {
                padding-bottom: 1.1rem;
                .content-text {
                    font-weight: 400;
                    @include fz-16;
                    line-height: 1.5;
                    color: $color-text;
                }
            }
    
            &-img{
                max-width: 27.6rem;
                margin: 0 auto;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                
    
                
            }
            @media only screen and (max-width:768px){
                width: 100%;
            }
        }
    
        &-right{
           
            flex: 1;
            &-map{
                width: 100%;
                height: 100%;
                iframe{
                    border-radius: 1.6rem;
                    width: 100%;
                    height: 100%;
                }

                @media only screen and (max-width:768px){
                    width: 100%;
                    height: 50rem;
                }
            }
            @media only screen and (max-width:768px){
                width: 100%;
                padding-top: 2rem;
            }
        }

        @media only screen and (max-width:768px){
            flex-direction: column;
        }
    }

   
}
