.join {
    background: white;
    padding-top: 0;
    border-radius: 6.4rem 6.4rem 0px 0px;
    margin-top: -6rem;
    position: relative;
    z-index: 20;
    border-top: 0.8rem solid $color-pri;

    @include max(1201px) {
        // overflow: hidden;
        border-radius: 0;
        margin-top: 0;
    }

    &-left {
        width: calc(100% * 4 / 12);

        .t-title {
            max-width: 28rem;
        }

        @include max(1024px) {
            width: 100%;
        }
    }

    &-right {
        width: calc(100% * 8 / 12);

        @include max(1024px) {
            width: 100%;
        }
    }

    &-content {
        padding-top: 8rem;
        padding-bottom: 2.4rem;

        @include max(1201px) {
            padding-top: 4rem;
        }
    }

    &-item {
        &-wrap {
            border-radius: 0px 0px 2.4rem 2.4rem;
            position: relative;
            overflow: hidden;

            @include max(400px) {
                border-radius: 0px 0px 1.2rem 1.2rem;
            }
        }

        &-img {
            @include imgPd(509, 384);

            img {
                @include imgCover;
            }
        }

        &-text {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            color: white;
            padding: 3.2rem 1.2rem;
            font-weight: 500;
            @include fz-24;
            line-height: 1.5;

            @include max(600px) {
                padding: 1rem 0.8rem;
                font-size: 1.5rem;
            }
        }
    }

    &-sc {
        padding-top: 0.4rem;
    }
}

.scrolld {
    position: relative;
    z-index: 100;
    max-width: 100%;

    &-btn {
        width: 11.7rem;
        height: 11.7rem;
        background: $color-pri;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        padding: 0.8rem;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        z-index: 10;

        @include max(800px) {
            width: 9rem;
            height: 9rem;
            padding: 0.3rem;
        }

        @include hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &-inner {
            position: relative;
            left: 0;
            bottom: 0;
            margin: 0 auto;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            color: white;
            animation: spinZ 20s linear infinite;
            text-align: center;
            overflow: hidden;

            span {
                position: absolute;
                display: inline-block;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                font-weight: 300;
                font-size: 1.1rem;
                line-height: 1;
                transition: all 0.5s cubic-bezier(0, 0, 0, 1);
                // mix-blend-mode: difference;
                letter-spacing: -0.01em;
            }
        }

        .icon {
            position: absolute;
            height: 3.4rem;
            width: auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.buysec {
    &-item {
        display: block;

        &-wrap {
            border-radius: 1.6rem;
            overflow: hidden;
            display: block;
            transition: unset;
            position: relative;
        }

        &-img {
            @include imgPd(288, 588);

            @include max(400px) {
                padding-top: 60%;
            }

            img {
                @include imgCover;
                object-position: right;

            }
        }

        &-content {
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 3.2rem 0 2.6rem 3.2rem;
            @include flex;
            flex-direction: column;
            justify-content: center;

            @include max(800px) {
                padding: 1.2rem 0 1.2rem 1.5rem;
            }

            @include max(600px) {
                width: 60%;
            }
        }

        &-name {
            font-weight: 600;
            @include fz-24;
            line-height: 1.33;
            display: block;
            max-width: 22.8rem;
            margin-bottom: 2rem;

            @include lc(3);

            @include max(800px) {
                -webkit-line-clamp: 2;
                margin-bottom: 1rem;
            }

            @include max(600px) {
                font-size: 1.5rem;
            }

            .ver {
                font-family: 'Lobster';
                color: $color-third;
            }
        }

        &-numof {
            display: flex;
            margin-bottom: 1.4rem;
            height: 5.6rem;
            align-items: center;
            margin-left: -4rem;
            padding-left: 4rem;
            background: #FAFAFA;
            border-radius: 0px 1.6rem 1.6rem 0px;
            @include fz-18;
            line-height: 1.3;
            color: $color-third;
            box-shadow: 0.4rem -0.4rem 0px -1px $color-third;
            -webkit-box-shadow: 0.4rem -0.4rem 0px -1px $color-third;
            -moz-box-shadow: 0.4rem -0.4rem 0px -1px $color-third;


            @include max(800px) {
                height: 4rem;
                margin-left: -2rem;
                padding-left: 2rem;
                margin-bottom: 0.8rem;
            }

            @include max(600px) {
                font-size: 1.4rem;
                height: 3.2rem;
                border-radius: 0px 1rem 1rem 0px;
            }
        }
    }

    .swiper-slide {
        min-width: 60rem;

        @include max(800px) {
            min-width: 50rem;
        }

        @include max(550px) {
            width: 100%;
            min-width: auto;
        }
    }

    .btn-inner {
        @include max(600px) {
            padding: 0.8rem 1rem 0.75rem;
            font-size: 1.4rem;
        }
    }
}

.proh {
    &-ct {
        @include max(1024px) {
            flex-direction: column-reverse;
        }
    }

    &-left {
        width: calc(100% * 3 / 12);

        @include max(1024px) {
            width: 100%;
            margin-top: 2.4rem;
        }
    }

    &-right {
        flex: 1;

        >.btn {
            @include min(1025px) {
                display: none;
            }
        }
    }

    &-wrap {
        >.btn {
            @include max(1024px) {
                display: none;
            }
        }
    }

    &-side {
        background: linear-gradient(180deg, #EADEEC 0%, #F97B55 100%);
        border-radius: 0.8rem;
        overflow: hidden;


        &-ct {
            padding: 1.6rem 1.6rem 0;
            position: relative;
            z-index: 4;
        }

        &-name {
            font-weight: 600;
            @include fz-20;
            line-height: 1.4;
            color: #4D4D4D;
        }

        &-stand {
            margin-bottom: -1.6rem;
            max-width: 26.3rem;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            z-index: 1;
        }

        &-dc {
            position: absolute;
            width: 100%;
            height: auto;
            bottom: 41%;
        }

        &-pro {
            max-width: 28.2rem;
            margin-left: auto;
            margin-right: auto;
            position: relative;

        }

        &-img {
            margin-bottom: -4.5rem;
            position: relative;
            z-index: 10;
            max-width: 24.3rem;
            margin-left: auto;
            margin-right: auto;
        }

        .btn {
            @include max(1024px) {
                margin-bottom: 2.4rem;
            }
        }

    }
}

.ser {
    padding: 6.4rem 0;
    background: #F5F5F5;

    &.other {
        padding-bottom: 18.4rem;
        margin-bottom: -12rem;

        @include max(800px) {
            margin-bottom: 0;
            padding: 4rem 0;
        }

        &::before,
        &::after {
            bottom: -3.2rem;

            @include max(1300px) {
                bottom: -7rem;
                width: 16rem;
            }

            @include max(800px) {
                bottom: -15rem;
                width: 5rem;
            }
        }
    }

    &-list {
        @include max(600px) {
            justify-content: center;
        }
    }

    &-item {
        width: calc(100% * 3 / 12);
        min-width: 30.6rem;

        @include max(1024px) {
            width: 33.33333%;
            min-width: auto;
        }

        @include max(600px) {
            width: 50%;
            margin-bottom: 1rem;
        }

        @include max(360px) {
            width: 100%;
        }

        &-icon {
            width: 6.4rem;
            height: 6.4rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.8rem;

            @include max(1024px) {
                width: 5rem;
                height: 5rem;
            }

            @include max(600px) {
                width: 4rem;
                height: 4rem;
            }
        }

        &-content {
            text-align: center;
        }

        &-tit {
            font-weight: 600;
            @include fz-24;
            line-height: 1.3;
            color: #595959;
            margin-bottom: 0.8rem;

            @include max(600px) {
                font-size: 1.5rem;
            }
        }

        &-desc {
            font-weight: 500;
            color: #595959;

            @include max(600px) {
                font-size: 1.4rem;
            }
        }
    }
}

.glr {
    padding-bottom: 0;
    margin-bottom: -17rem;
    position: relative;
    z-index: 11;

    @include max(1024px) {
        margin-bottom: 0;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 2rem;
    }
}

.sign-form {
    .popup-main {
        width: calc(100% - 3rem);
        max-width: 123rem;
        overflow: hidden;
    }

    .popup-wrapper {
        padding: 0;
    }

    .popup-over {
        overflow: hidden;
        border-radius: 1.6rem;
    }

    .sign-up-con .left-img img {
        border-radius: 0;
    }

    .sign-up-con .left-img {
        border-radius: 0;
    }

    .left {
        height: auto !important;
    }

    .sign-up-con {
        align-items: unset;
    }
}