.newsct {

    &-wrap {
        @include max(750px) {
            flex-direction: column-reverse;

        }
    }


    &-left {
        @include max(750px) {
            width: 100%;
            margin-bottom: 3rem;

        }
    }

    &-right {
        flex: 1;

        @include max(750px) {
            width: 100%;
        }
    }

    &-date {
        opacity: 0.5;
        margin-bottom: 0.4rem;
        display: block;
    }

    &-side {
        width: 18rem;
        position: sticky;
        top: calc(var(--headerHeightbot) + var(--headerHeighttop));
        padding: 1.2rem 1.2rem 1.6rem;
        border: 0.1rem solid rgba($color: #D9D9D9, $alpha: 0.5);
        border-radius: 0.8rem;

        @include max(1201px) {
            top: 8rem;
        }

        @include max(750px) {
            width: 100%;
            // margin-top: 3rem;
            @include flex;
            flex-direction: column;
            align-items: center;

        }
    }

    &-title {
        max-width: 79.2rem;
    }

    .mona-content {
        >p {
            color: #444444;
            opacity: 0.7;
            margin-bottom: 4rem;

            @include max(800px) {
                margin-bottom: 2rem;
            }
        }


        .fw-5 {
            opacity: 1;
        }

        img {
            border-radius: 0.8rem;
        }

        >img {
            width: 100%;
            max-width: 58.8rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: var(--pdGen2);
            margin-bottom: var(--pdGen2);
        }

        .intro {
            @include flex;
            margin-top: 4rem;
            flex-wrap: wrap;
            margin-bottom: 4rem;

            @include max(800px) {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            >img {
                width: 18rem;
                margin-right: var(--pdGen2);
            }

            .ct {
                flex: 1;

                @include max(450px) {
                    flex-basis: 100%;
                    margin-top: 2rem;
                }
            }

            .direct {
                letter-spacing: 0.005em;
                color: $color-text2;
                opacity: 0.5;
                display: block;
                margin-bottom: 2.2rem;

                @include max(800px) {
                    margin-bottom: 1.2rem;
                }
            }

            .name {
                display: block;
                font-weight: 500;
                @include fz-20;
                line-height: 1.2;
                color: $color-text2;
                margin-bottom: 1.3rem;

                @include max(800px) {
                    margin-bottom: 0.8rem;
                }
            }

            .desc {
                font-weight: 700;
                color: $color-text2;
                max-width: 38.2rem;
                display: block;
                position: relative;
            }

            .quote {
                bottom: calc(100% + 1.7rem);
                right: 0.5rem;
                width: 3.2rem;
                display: block;
                position: absolute;

                img {
                    border-radius: 0;
                }
            }

        }
    }
}

.news {
    padding: 4rem 0 0;

    &-sl {
        padding-bottom: 6.8rem;
        border-bottom: 0.1rem solid rgba($color: $color-text2, $alpha: 0.1);

        @include max(1201px) {
            padding-bottom: 4rem;
        }

        .swiper-slide {
            @include max(450px) {
                width: 75%;
            }
        }
    }
}

.newssec {
    padding-top: 2.4rem;
    padding-bottom: 8rem
}

.readmore {
    @include flex;
    align-items: center;
    width: fit-content;

    .icon {
        // filter: brightness(0);
        // -webkit-filter: brightness(0);
        display: block;
        margin-bottom: -0.3rem;
    }

    .text {
        margin-right: 1.2rem;
        font-weight: 600;
        line-height: 1.2;
        color: $color-pri;
        letter-spacing: 0.005em;
    }

    @include hover {
        background: linear-gradient(0deg, #0EB252 47.37%, #72C595 102.98%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        .icon {
            filter: none;
        }
    }
}

.post-info {
    @include flex;
    align-items: center;

    &-item {
        @include flex;
        align-items: center;

        .icon {
            width: 1.8rem;
            margin-right: 0.8rem;
            filter: brightness(0);
            -webkit-filter: brightness(0);
        }

        .text {
            // opacity: 0.7;
            line-height: 1.38;
            color: $color-text2;
        }

        &:not(:last-child) {
            margin-right: var(--pdGen2);
        }
    }

}