.product_info {
    overflow: hidden;

    .product_info-header {
        margin-bottom: 2.9rem;
    }

    @media only screen and (max-width: 500px) {
        .product_info-header {
            flex-direction: column;
            align-items: center;

            .product-tilte {
                margin-bottom: 3rem;
            }
        }
    }

    .product-tags {
        .active {
            .text {
                background-color: $color-third;
                border-radius: 0.4rem;
                line-height: 1.4;
                padding: 0.6rem 1.6rem 0.5rem;
                color: white;
            }
        }

        .btn-tags {
            @include fz-14;
            font-weight: 500;
            line-height: 2rem;
            padding: 0 1.6rem;
            border-right: 0.1rem solid rgba($color: #000000, $alpha: 0.1);

            &:last-child {
                border: none;
            }
        }
    }

    &-title {
        max-width: 79.2rem;
        margin-bottom: 4rem;

        .text {
            @include fz-14;
            line-height: 2rem;
        }

        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            width: 100%;
            margin: 2.9rem auto 4rem;
        }
    }

    &-list {
        margin: -2rem -2rem 6rem;

        .product_info-item {
            &-content {
                padding: 2.6rem;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);

                @include max(1024px) {
                    padding: 1.8rem;
                }

                @include max(800px) {
                    padding: 1.5rem;
                }

                @include max(450px) {
                    padding: 1.3rem;
                }


                .item-img {
                    display: block;
                    width: 100%;
                    padding-top: calc(100% * 249 / 332);
                    overflow: hidden;
                    margin-bottom: 1rem;
                    position: relative;

                    @include min(1201px) {
                        &:hover {
                            img {
                                transform: translate(-50%, -50%) scale(1.2);
                            }
                        }
                    }

                    img {
                        transition: all 0.5s linear;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .product-name {
                    display: block;
                    @include fz-16;
                    line-height: 2.4rem;
                    margin-bottom: 0.6rem;
                    @include lc(1);
                }

                .product-btn {
                    display: flex;
                    padding: 0.8rem 1.6rem;
                    background-color: $color-pri;
                    color: white;
                    border-radius: 0.4rem;
                    width: fit-content;
                    align-items: center;

                    img {
                        margin-left: 0.8rem;
                        width: 0.7rem;
                        height: 1rem;
                    }
                }

                .btn {
                    .icon {
                        width: 0.7rem;
                        height: auto;
                    }
                }
            }
        }

        @media only screen and (max-width: 700px) {
            margin-bottom: 3rem;
        }

        .swiper {
            padding: 2rem 2rem 4rem;
        }
    }

    &-sensor {
        .sensor-title {
            margin-bottom: 5rem;

            @media only screen and (max-width: 400px) {
                margin-top: 0rem;
                text-align: center;
            }
        }

        .sensor-content {
            &-list {
                .sensor-item {
                    &-1 {
                        margin-bottom: 4.7rem;

                        .sensor-img {
                            &-inner {
                                width: 18rem;
                            }
                        }

                        .sensor-des {
                            flex: 1;

                            .title {
                                @include fz-20;
                                line-height: 1.2;
                                font-weight: 700;
                                color: $color-text2;
                                opacity: 0.7;

                                @media only screen and (min-width: 769px) and (max-width: 1024px) {
                                    margin-top: 2rem;
                                    text-align: center;
                                }

                                @media only screen and (max-width: 768px) {
                                    margin-top: 2rem;
                                    text-align: center;
                                }

                                @media only screen and (max-width: 400px) {
                                    @include fz-14;
                                }
                            }

                            .des-content {
                                &-text {
                                    margin-left: 2.4rem;
                                    list-style: disc;
                                    font-style: normal;
                                    font-weight: 400;
                                    @include fz-16;
                                    line-height: 1.5;
                                    color: $color-text2;
                                    opacity: 0.7;

                                    @media only screen and (min-width: 769px) and (max-width: 1024px) {
                                        margin-left: 0;
                                        list-style: none;
                                    }

                                    @media only screen and (max-width: 768px) {
                                        @include fz-14;
                                        margin-left: 0;
                                        list-style: none;
                                        padding: 1rem;
                                    }
                                }
                            }
                        }

                        @media only screen and (min-width: 769px) and (max-width: 1024px) {
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }

                        @media only screen and (min-width: 401px) and (max-width: 768px) {
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }

                        @media only screen and (max-width: 400px) {
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }

                    @media only screen and (max-width: 370px) {
                        width: 100%;
                    }
                }

                @media only screen and (max-width: 370px) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .sensor-item {
            @include max(450px) {
                width: 100%;
                text-align: center;
            }
        }
    }

    &-con {
        &-control-moto {
            width: 50%;

            .con-title {
                margin-bottom: 3.9rem;

                @media only screen and (max-width: 400px) {
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }

            .con-content {
                margin-bottom: 3.3rem;

                .con-content-img {
                    width: calc(2 * 100% / 6);

                    .con-img-text {
                        margin-top: 0.8rem;
                        text-align: center;
                        line-height: 1.5;
                        @include fz-16;
                        font-weight: 500;
                        opacity: 0.7;
                        color: $color-text2;

                        @media only screen and (min-width: 401px) and (max-width: 768px) {
                            @include fz-14;
                            max-width: none;
                            width: 100%;
                            text-align: center;
                        }

                        @media only screen and (max-width: 400px) {
                            @include fz-14;
                            max-width: none;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    @media only screen and (max-width: 400px) {
                        width: 100%;
                    }
                }

                @media only screen and (max-width: 400px) {
                    width: 100%;
                }

                .con-img {
                    margin-top: 1rem;

                    @media only screen and (max-width: 400px) {
                        // height: 300px;
                        // width: 100%;
                        margin-bottom: 3rem;
                    }
                }

                &-text {
                    flex: 1;
                    // margin-right: 2rem;

                    .con-title {
                        margin-bottom: 1.5rem;
                        text-align: start;

                        line-height: 1.5;
                        @include fz-16;
                        font-weight: 600;
                        opacity: 0.7;
                        color: $color-text2;

                        @media only screen and (min-width: 401px) and (max-width: 768px) {
                            @include fz-14;
                            padding: 0.5rem;
                        }

                        @media only screen and (max-width: 400px) {
                            text-align: center;
                            @include fz-14;
                        }
                    }

                    .con-list {
                        margin-left: 2rem;
                        list-style: decimal;

                        .con-item {
                            font-weight: 400;
                            @include fz-16;
                            color: $color-text2;
                            opacity: 0.7;
                            line-height: 1.4;
                            margin-bottom: 1rem;

                            @media only screen and (min-width: 401px) and (max-width: 768px) {
                                @include fz-14;
                                margin-left: 0rem;
                            }

                            @media only screen and (max-width: 400px) {
                                margin-left: 0rem;
                                @include fz-14;
                            }
                        }
                    }

                    @media only screen and (min-width: 769px) and (max-width: 1024px) {
                        margin-left: 3rem;
                        margin-right: 0;
                        padding: 0;
                    }

                    @media only screen and (min-width: 401px) and (max-width: 768px) {
                        margin-left: 0rem;
                    }

                    @media only screen and (max-width: 400px) {
                        display: flex;
                        padding: 0;
                        flex-direction: column;
                        width: 100%;
                    }
                }

                @media only screen and (max-width: 400px) {
                    flex-direction: column;
                    // align-items: center;
                    width: 100%;
                }
            }

            @media only screen and (min-width: 769px) and (max-width: 1024px) {
                width: 100%;
            }

            @media only screen and (min-width: 401px) and (max-width: 768px) {
                width: 100%;
            }

            @media only screen and (max-width: 400px) {
                width: 100%;
            }
        }
    }

    &-door {
        margin-top: 6rem;
        margin-bottom: 11rem;

        @media only screen and (max-width: 800px) {
            margin-top: 0rem;
            margin-bottom: 6rem;
        }

        .door-title {
            margin-bottom: 2.4rem;

            @media only screen and (max-width: 400px) {
                text-align: center;
            }
        }

        .door-content {
            &-left {
                .text {
                    font-weight: 400;
                    @include fz-16;
                    line-height: 1.3;
                    color: $color-text2;
                    margin-bottom: 1rem;

                    @media only screen and (min-width: 401px) and (max-width: 768px) {
                        @include fz-14;
                    }

                    @media only screen and (max-width: 400px) {
                        @include fz-14;
                    }
                }

                @media only screen and (min-width: 769px) and (max-width: 1024px) {
                    width: 100%;
                }

                @media only screen and (min-width: 401px) and (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 3rem;
                }

                @media only screen and (max-width: 400px) {
                    width: 100%;
                    padding: 0 1rem;
                    margin: 0;
                }
            }

            &-right {
                .door-list {
                    @media only screen and (max-width: 700px) {
                        &::-webkit-scrollbar {
                            height: 0.3rem;
                        }
                    }

                    .door-item {
                        margin-right: 1rem;
                        width: 7.8rem;

                        &-img {
                            width: 7.8rem;
                            height: 7.8rem;
                            margin-bottom: 1.2rem;
                        }

                        &-text {
                            font-weight: 400;
                            @include fz-16;
                            line-height: 1.3;
                            color: $color-text2;
                            text-align: center;
                            white-space: wrap;

                            @media only screen and (min-width: 401px) and (max-width: 768px) {
                                @include fz-14;
                            }

                            @media only screen and (max-width: 400px) {
                                @include fz-14;
                            }
                        }

                        @media only screen and (min-width: 401px) and (max-width: 768px) {
                            width: 100%;
                            margin-right: 3rem;
                            scroll-snap-align: center;
                        }

                        @media only screen and (max-width: 400px) {
                            width: 100%;
                            margin-right: 3rem;
                            scroll-snap-align: center;
                        }
                    }

                    @media only screen and (min-width: 401px) and (max-width: 650px) {
                        width: 100%;
                        overflow-x: scroll;
                        scroll-snap-type: x mandatory;
                        scroll-behavior: smooth;
                    }

                    @media only screen and (max-width: 400px) {
                        width: 100%;
                        overflow-x: scroll;
                        scroll-snap-type: x mandatory;
                        scroll-behavior: smooth;
                    }
                }

                @media only screen and (min-width: 769px) and (max-width: 1024px) {
                    width: 100%;
                }

                @media only screen and (min-width: 401px) and (max-width: 768px) {
                    width: 100%;
                }

                @media only screen and (max-width: 400px) {
                    width: 100%;
                }
            }

            @media only screen and (min-width: 769px) and (max-width: 1024px) {
                flex-direction: column;

                width: 100%;
            }

            @media only screen and (max-width: 768px) {
                flex-direction: column;

                width: 100%;
            }
        }
    }

    .product_info-slides {
        &-left {
            width: calc(4 * 100% / 12);

            .product-text {
                font-weight: 400;
                @include fz-14;
                color: $color-text2;
                line-height: 1.4;
                margin-bottom: 1.2rem;

                @media only screen and (min-width: 401px) and (max-width: 768px) {
                    width: 100%;
                }

                @media only screen and (max-width: 400px) {
                    width: 100%;
                    @include fz-14;
                }
            }

            @media only screen and (min-width: 401px) and (max-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }

            @media only screen and (max-width: 400px) {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
            }
        }

        &-right {
            width: calc(8 * 100% / 12);

            @media only screen and (min-width: 401px) and (max-width: 768px) {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;

                .product_info-list {
                    margin-bottom: 4rem;
                }
            }

            @media only screen and (max-width: 400px) {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;

                .product_info-list {
                    margin-bottom: 4rem;
                }
            }
        }

        // @media only screen and (min-width: 769px) and (max-width: 1024px) {
        //     width: 100%;

        // }

        @media only screen and (min-width: 401px) and (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
        }

        @media only screen and (max-width: 400px) {
            width: 100%;
            flex-direction: column-reverse;
        }
    }
}

.product_info-sensor-2 {
    @media only screen and (min-width: 401px) and (max-width: 768px) {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
        text-align: center;
        margin-top: 3rem;
    }

    .sensor-content-2 {
        margin-top: 2.4rem;

        &-container {
            @media only screen and (max-width: 400px) {
                margin-bottom: 2rem;
            }
        }

        &-left {
            width: 50%;

            &-title {
                margin-bottom: 2.3rem;

                .title {
                    @include fz-20;
                    font-weight: 700;
                    line-height: 1.2;
                    opacity: 0.7;
                    color: $color-text2;
                }
            }

            &-con {
                .con-img {
                    width: 8.3rem;

                    @media only screen and (min-width: 401px) and (max-width: 768px) {
                        width: 100%;
                        height: 200px;
                        margin-bottom: 2rem;
                    }

                    @media only screen and (max-width: 400px) {
                        width: 100%;
                        height: 200px;
                        margin-bottom: 2rem;
                    }
                }

                .con-content {
                    flex: 1;
                    margin-left: 2.4rem;

                    .text {
                        @include fz-16;
                        line-height: 1.2;
                        font-weight: 400;
                        opacity: 0.7;
                        color: $color-text2;
                        margin-bottom: 0.8rem;
                        text-align: start;

                        @media only screen and (min-width: 401px) and (max-width: 768px) {
                            @include fz-14;
                        }

                        @media only screen and (max-width: 400px) {
                            @include fz-14;
                        }
                    }

                    @media only screen and (min-width: 401px) and (max-width: 768px) {
                        margin-left: 0;
                    }

                    @media only screen and (max-width: 400px) {
                        margin-left: 0;
                    }
                }

                @media only screen and (min-width: 401px) and (max-width: 768px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                @media only screen and (max-width: 400px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        @media only screen and (min-width: 401px) and (max-width: 768px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: baseline;
        }

        @media only screen and (max-width: 400px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .sensor-content-2-bottom {
        margin-top: 5.7rem;

        .sensor-bottom-title {
            margin-bottom: 3.2rem;

            .title {
                @include fz-20;
                font-weight: 700;
                line-height: 1.2;
                opacity: 0.7;
                color: $color-text2;
            }
        }

        .section-bottom-con {
            @media only screen and (min-width: 401px) and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            @media only screen and (max-width: 400px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }

        &-left {
            flex: 1;

            .bottom-left-img-1 {
                width: 20.6rem;
                margin-right: 5.4rem;

                @media only screen and (max-width: 768px) {
                    width: 50%;
                    height: auto;
                }
            }

            .bottom-left-img-2 {
                width: 16.6rem;

                @media only screen and (max-width: 768px) {
                    width: 50%;
                    height: auto;
                }
            }

            @media only screen and (min-width: 401px) and (max-width: 768px) {}

            @media only screen and (max-width: 400px) {
                width: 100%;
            }

            @media only screen and (min-width: 401px) and (max-width: 768px) {
                width: 100%;
                margin-bottom: 2rem;
            }

            @media only screen and (max-width: 400px) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }

        &-right {
            flex: 1;

            .bottom-right-text {
                .text {
                    @include fz-16;
                    line-height: 1.2;
                    font-weight: 400;
                    opacity: 0.7;
                    color: $color-text2;
                    margin-bottom: 0.8rem;

                    @media only screen and (min-width: 401px) and (max-width: 768px) {
                        text-align: start;
                        padding: 0;
                        @include fz-14;
                    }

                    @media only screen and (max-width: 400px) {
                        text-align: start;
                        padding: 0;
                        @include fz-14;
                    }
                }
            }

            @media only screen and (max-width: 400px) {
                width: 100%;
            }
        }

        @media only screen and (max-width: 400px) {
            margin-top: 0rem;
        }
    }
}

.product_info-control-motor {
    margin-top: 7.5rem;

    .control-moto-con {
        margin-bottom: 1.6rem;

        .control-moto-con-title {
            margin-bottom: 2.9rem;

            .title {
                @include fz-20;
                font-weight: 700;
                line-height: 1.2;
                opacity: 0.7;
                color: $color-text2;
            }

            @media only screen and (min-width: 401px) and (max-width: 768px) {
                text-align: center;
            }

            @media only screen and (max-width: 400px) {
                text-align: center;
            }
        }

        .control-moto-content-con {
            .control-moto-content {
                height: 20rem;
                margin-bottom: 1.6rem;

                &-item {
                    .img-top {
                        margin-top: 3rem;
                    }

                    &-img {
                        width: calc(2 * 100% / 6);

                        img {
                            margin: auto;
                        }
                    }

                    &-text {
                        margin-left: 3.2rem;
                        flex: 1;

                        .title {
                            @include fz-20;
                            font-weight: 700;
                            line-height: 1.2;
                            opacity: 0.7;
                            color: $color-text2;
                            margin-bottom: 1.7rem;
                        }

                        .content {
                            max-width: 25.9rem;
                            line-height: 1.2;
                            font-weight: 400;
                            @include fz-16;
                            color: $color-text2;
                            opacity: 0.7;

                            @media only screen and (min-width: 401px) and (max-width: 768px) {
                                @include fz-14;
                            }

                            @media only screen and (max-width: 400px) {
                                @include fz-14;
                            }
                        }
                    }

                    @media only screen and (min-width: 501px) and (max-width: 760px) {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                    }
                }

                @media only screen and (max-width: 760px) {
                    height: auto;
                }
            }

            @media only screen and (min-width: 501px) and (max-width: 760px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
            }

            @media only screen and (min-width: 401px) and (max-width: 500px) {
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 100%;
            }
        }

        @media only screen and (min-width: 401px) and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }

    @media only screen and (min-width: 401px) and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    @media only screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
    }
}

.prorl {
    overflow: hidden;

    &-tab {
        overflow: hidden;
        padding-bottom: 0.1rem;

        &-list {
            @include flex;
            margin: 0 -1.6rem;
        }

        &-item {
            height: 4.2rem;
            padding: 0 1.6rem;
            font-weight: 500;
            color: $color-text2;
            @include flex;
            justify-content: flex-start;
            cursor: pointer;
            position: relative;
            transition: all 0.3s ease-in-out;

            &::before {
                position: absolute;
                content: "";
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                height: 0.1rem;
                background: rgba($color: $color-text2, $alpha: 0.2);
                bottom: 0;
            }

            &::after {
                position: absolute;
                content: "";
                width: 0.1rem;
                background: rgba($color: $color-text2, $alpha: 0.2);
                height: 1.6rem;
                right: 0;
                transform: translateX(50%);
                top: 0.6rem;
            }

            .text-inner {
                height: 2.8rem;
                @include flex;
                align-items: center;
                padding-top: 0.3rem;

                &::before {
                    position: absolute;
                    content: "";
                    width: calc(100% - 3.2rem);
                    left: 50%;
                    transform: translateX(-50%);
                    height: 0.1rem;
                    background: $color-pri;
                    bottom: 0;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    z-index: 2;
                }

                &::after {
                    position: absolute;
                    content: "";
                    width: 0.6rem;
                    height: 0.6rem;
                    border-radius: 50%;
                    transform: translateX(-50%);
                    background: $color-pri;
                    bottom: 1rem;
                    left: 50%;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    z-index: 2;
                }
            }

            &.active {
                font-weight: 700;
                @include fz-20;
                color: $color-pri;

                @include max(600px) {
                    font-size: 1.4rem;
                }

                .text-inner {
                    &::before {
                        opacity: 1;
                    }

                    &::after {
                        opacity: 1;
                        bottom: 0.1rem;
                    }
                }
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    &-sl {
        display: block;
        margin-bottom: 4.9rem;

        @include max(1201px) {
            margin-bottom: 3.2rem;
        }

        @include max(600px) {
            margin-bottom: 2.4rem;
        }

        @include max(400px) {
            margin-bottom: 1.2rem;
        }
    }

    &-list {
        position: relative;
    }

    &-panel {
        &-item {
            display: block;
            opacity: 0;
            visibility: hidden;
            height: 0;
            width: 0;
            overflow: hidden;

            &.open {
                opacity: 1;
                visibility: visible;
                height: auto;
                width: auto;
                overflow: visible;
            }
        }
    }
}

.prodt {
    user-select: none;

    &-left {
        width: calc(100% * 4 / 12);
        min-width: 38rem;

        @include max(800px) {
            min-width: 30rem;
        }

        @include max(600px) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &-right {
        flex: 1;
    }

    &-img {
        @include imgPd(1, 1);
        border-radius: 0.4rem;

        >img {
            @include imgCover;
            transition: all 0.3s ease-in-out;
        }

        .icon {
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
    }

    &-main {
        border-radius: 0.4rem;
        overflow: hidden;
    }

    &-thumbs {
        .prodt-img {

            &::before,
            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: rgba(217, 217, 217, 0.7);
                z-index: 2;
                width: calc(100% - 0.4rem);
                height: calc(100% - 0.4rem);
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &::after {
                background: transparent;
                z-index: -1;
                width: 100%;
                height: 100%;
                background: linear-gradient(-90deg, #39b16c 2.67%, #38af6b 3.67%, #255361 71.67%, #1e2f5e 102.67%);
            }
        }

        .swiper-slide-thumb-active {
            .prodt-img {
                // width: ca;

                &::before,
                &::after {
                    opacity: 1;
                }

                >img {
                    transform: translate(-50%, -50%) scale(0.93);
                }

                .icon {
                    opacity: 1;
                }
            }
        }
    }

    &-share {
        .text {
            font-weight: 700;
            @include fz-18;
            line-height: 1.2;
            letter-spacing: 0.005em;
            color: $color-text2;
            opacity: 0.9;
            margin-right: var(--pdGen2);
        }
    }

    .swiper {
        &-slide {
            overflow: hidden;
        }
    }

    &-info {
        &-item {
            @include flex;
            letter-spacing: 0.005em;

            &:not(:last-child) {
                margin-bottom: 0.8rem;
            }
        }

        &-tit {
            width: calc(100% * 3 / 8);
            font-weight: 500;
            padding-right: 1rem;

            @include max(650px) {
                font-size: 1.4rem;
            }
        }

        &-txt {
            flex: 1;
            max-width: 34.3rem;

            @include max(650px) {
                font-size: 1.4rem;
            }

            .opa {
                opacity: 0.7;
            }
        }

        &-ct {
            padding-bottom: var(--pdGen2);
            border-bottom: 0.1rem solid rgba($color: $color-text2, $alpha: 0.12);
        }
    }

    &-option {
        padding-top: 3.2rem;

        .tit {
            font-weight: 700;
            @include fz-20;
            line-height: 1.2;
            letter-spacing: 0.005em;
            color: $color-text2;
            opacity: 0.9;
            margin-bottom: 1.8rem;
        }

        .text {
            letter-spacing: 0.005em;
            color: $color-text2;
            opacity: 0.7;
            margin-right: var(--pdGen2);
            flex-shrink: 0;
            margin-top: 0.5rem;
        }

        &-wrap {
            align-items: unset;
        }

        &-list {
            flex-wrap: wrap;
            gap: 0.6rem;
        }

        &-item {
            padding: 0.8rem 0.8rem 0.7rem;
            background: rgba(0, 0, 0, 0.08);
            border-radius: 0.4rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            @include max(600px) {
                font-size: 1.4rem;
            }

            &.active {
                background: $color-pri;
                color: white;
            }
        }
    }
}

.procp {
    background: rgba($color: $color-pri, $alpha: 0.1);
    --widthTb: 18rem;

    @include max(800px) {
        --widthTb: 14rem;
    }

    &-title {
        color: $color-text2;
    }

    &-tb {
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1.4rem;

        &::-webkit-scrollbar {
            height: 0.3rem;
        }

        .hover {
            position: relative;

            &-inner {
                position: absolute;
                visibility: hidden;


            }

        }
    }

    &-row {
        @include flex;

        &:last-child {
            .procp-col {
                &::before {
                    display: none;
                }
            }
        }

        &:first-child {
            .procp-col {
                padding-top: 2.4rem;

                &:not(:first-child) {
                    border-top: 0.1rem solid $color-pri;
                    color: rgba($color: $color-text2, $alpha: 0.7);
                    font-weight: 400;

                }

                &:nth-child(2) {
                    border-top-left-radius: 0.8rem;
                }

                &:last-child {
                    border-top-right-radius: 0.8rem;
                }
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            .procp-col {
                color: rgba($color: $color-text2, $alpha: 0.7);
                font-weight: 400;
            }
        }

        &:last-child {
            .procp-col {
                padding-bottom: 2.4rem;

                &:not(:first-child) {
                    border-bottom: 0.1rem solid $color-pri;
                    color: $color-pri;
                }

                &:nth-child(2) {
                    border-bottom-left-radius: 0.8rem;
                }

                &:last-child {
                    border-bottom-right-radius: 0.8rem;
                }
            }
        }
    }

    .tb-label {
        padding: 1rem 2.4rem 0.9rem;
        background: $color-pri;
        border-radius: 0.8rem;
        // margin-bottom: 2rem;
        color: white;
        @include flex;
        align-items: center;
        height: 100%;

        @include max(1201px) {
            padding: 1rem 1.2rem 0.9rem;
        }

        @include max(800px) {
            padding: 0.8rem 1rem 0.7rem;
        }
    }

    &-head {
        .procp-col {
            border: none !important;
            background: none !important;
            padding: 0 0 2rem !important;

            @include max(1201px) {
                padding: 0 0.5rem 2rem !important;
            }

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &-body {
        position: relative;
    }

    &-col {
        flex: 1;
        padding: 1rem 0;
        position: relative;
        font-weight: 500;
        letter-spacing: 0.005em;
        min-width: var(--widthTb);
        cursor: pointer;

        @include max(800px) {
            font-size: 1.4rem;
        }

        @include max(600px) {
            font-size: 1.3rem;
        }

        @include max(400px) {
            font-size: 1.2rem;
        }

        &:first-child {
            position: sticky;
            left: 0;
            letter-spacing: 0.005em;
            color: $color-text2 !important;
            background: rgb(236 246 240);
            z-index: 10;
            @include flex;
            align-items: center;
            padding-left: 4.6rem;
            padding-right: 1.2rem;
            font-weight: 500 !important;

            @include max(800px) {
                padding-left: 1.2rem;
            }

            &::before {
                position: absolute;
                content: "";
                width: calc(100% - var(--pdGen2));
                height: 0.1rem;
                left: 0;
                bottom: 0;
                transform: translateY(50%);
                background: black;
                opacity: 0.1;
            }
        }

        &:not(:first-child) {
            @include mid-flex;
            text-align: center;
            padding: 1rem 1.2rem;
            background: white;

            @include max(800px) {
                padding: 0.7rem 0.8rem 0.6rem;
            }


            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0.1rem;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 50%);
                background: black;
                opacity: 0.1;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: #D9D9D9;
                opacity: 0;
                top: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
            }

            &.hover-p {
                &::after {
                    opacity: 0.2;
                }
            }
        }

        &:nth-child(2) {
            border-left: 0.1rem solid $color-pri;
        }

        &:last-child {
            border-right: 0.1rem solid $color-pri;
        }

        .icon {
            display: inline-block;
            width: 1.4rem;
        }

        .tick {
            display: inline-block;
            max-width: 1.9rem;
        }
    }

    &.table-1 {
        .procp-row {
            &:nth-child(5) {
                .procp-col {
                    color: rgba($color: $color-text2, $alpha: 0.7);
                    font-weight: 400;
                }
            }

            &:nth-child(6) {
                .procp-col {
                    color: rgba($color: $color-text2, $alpha: 0.7);
                    font-weight: 400;
                }
            }
        }
    }

    &.table-2 {
        .procp-row {

            &:nth-child(7),
            &:nth-child(8) {
                .procp-col {
                    color: rgba($color: $color-text2, $alpha: 0.7);
                    font-weight: 400;
                }
            }
        }
    }
}

.tippy-box {
    background: transparent;

    .hover {
        &-inner {
            &.circle {
                position: relative;

                &-1 {
                    width: 15rem;
                    height: 15rem;

                    @include max(1201px) {
                        width: 10rem;
                        height: 10rem;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 0.6rem solid transparent;
                        border-right: 0.7rem solid transparent;
                        transform: rotate(45deg);
                        border-top: 7.5rem solid $color-pri;
                        top: 75%;
                        z-index: -1;
                        left: 15%;

                        @include max(1201px) {
                            border-top: 5rem solid $color-pri;
                        }
                    }
                }

                &-2,
                &-3 {
                    width: 5.8rem;
                    height: 5.8rem;

                    .content {
                        border-width: 0.15rem !important;
                    }

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 0;
                        border-top: 0.1rem solid transparent;
                        border-bottom: 0.5rem solid transparent;
                        border-left: 6rem solid $color-pri;
                        z-index: -1;
                    }
                }

                &-3 {
                    &::before {
                        left: 63%;
                        top: 40%;
                    }
                }

                &-2 {
                    &::before {
                        border-bottom: 1rem solid transparent;
                        left: 37%;
                        top: 65%;
                        transform: rotate(45deg);
                    }
                }

                &-4 {
                    background: #FFFFFF;
                    box-shadow: 0.4rem 0.8rem 1.6rem rgba(0, 0, 0, 0.08);
                    border-radius: 0.4rem;

                    .content {
                        border: none !important;
                    }

                }

                .content {
                    border-radius: 50%;
                    overflow: hidden;
                    border: 0.3rem solid $color-pri;
                }
            }
        }
    }

    &[data-placement="bottom-start"] {
        .hover-inner.circle-1::before {
            transform: rotate(-45deg) scale(-1);
            bottom: 75%;
            top: auto;
        }
    }

    &[data-placement="bottom-end"] {
        .hover-inner.circle-1::before {
            transform: rotate(-45deg) scale(-1);
            bottom: 75%;
            top: auto;
        }
    }
}

.tippy-arrow {
    display: none;
}

.my-tooltip-class {
    .tippy-content {
        padding: 0;
    }

    .tippy-arrow {
        display: block;
        color: white;
    }
}