.footer {
  overflow: hidden;
  position: relative;
  background: white;
  z-index: 12;

  @include max(1201px) {
    padding: 4rem 0;
  }

  @include max(1024px) {
    border-radius: 8rem 8rem 0px 0px;
  }

  @include max(800px) {
    border-radius: 0;
  }
  &-inner {
  }

  &-sign {
    padding-bottom: 3.2rem;
    border-bottom: 0.1rem solid #e6e6e6;

    &-wrap {
      margin-left: auto;
      width: calc(100% - 31.6rem);

      @include max(1201px) {
        margin-right: auto;
      }

      @include max(1024px) {
        width: calc(100% - 16rem);
      }

      @include max(800px) {
        width: 100%;
      }
    }

    .footer-title {
      margin-bottom: 0;
      display: flex;
      align-items: center;

      @include max(800px) {
        width: 100%;
      }

      color: $color-pri;
      font-weight: 600;
      @include fz-24;
      line-height: 1.3;
    }
  }

  &-logo {
    @include max(850px) {
      width: 100%;
    }

    &-wrap {
      padding-right: 11.2rem;
      padding-top: 2.4rem;

      @include max(1201px) {
        padding-right: 0;
      }
    }

    .logo {
      width: 18rem;
      display: block;
      margin-left: auto;
      margin-right: auto;

      @include max(1201px) {
        width: 18rem;
      }
    }

    .text {
      font-weight: 700;
      @include fz-36;
      line-height: 1.4;
      font-weight: 700;
    }
  }

  &-nav {
    padding-bottom: 2rem;
    padding-top: var(--pdGen2);
    border-bottom: 0.1rem solid #76317833;
    margin-bottom: -1rem;

    @include max(850px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-wrap {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;

    @media screen and (max-width:1200px) {
      padding-top: 4.6rem;
      padding-bottom: 4.6rem;
    }

    @media screen and (max-width:800px) {
      padding-top: 3.6rem;
      padding-bottom: 3.6rem;
    }
  }

  &-content {
    flex: 1;
  }

  &-box {
  

  

    @include max(800px) {
      padding-top: 2rem;
    }

   

    &-item {
      flex: 1;
      @include max(1024px) {
        width: 50%;
        flex: none;
        margin-bottom: 3rem;
      }

      @include max(600px) {
        flex: none;
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }
      }

      .desc {
        opacity: 0.8;
        font-size: 1.4rem;
        line-height: 1.4;
      }

      .menu-item {
        width: 100%;

        a {
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }
  }

  .img-bct {
    max-width: 16.8rem;
    margin-left: 2.4rem;

    @include max(1024px){
      margin: 0 auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-sc {
    .text {
      font-weight: 600;
      @include fz-14;
      line-height: 1.6;
      text-align: right;
      color: $color-text;
      color: #2E3237;
    }
  }

  &-list {
    &.list-link {
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-item {
        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 2.4rem;
        }
      }
    }
  }

  &-item {
    a {
      font-weight: 400;
      @include fz-14;
      line-height: 1.4;
      color: #1a1a1a;

      @include hover {
        color: $color-pri;
      }
    }

    &:not(:last-child) {
      margin-bottom: var(--pdGen);
    }
  }

  &-link {
    &-wrap {
      @include flex;
      align-items: center;

      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .icon {
      display: block;

      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 0.8rem;
      padding: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        filter: brightness(0) saturate(100%) invert(15%) sepia(47%) saturate(7132%) hue-rotate(356deg) brightness(96%)
          contrast(124%);
      }
    }

    .text {
      font-weight: 600;
      @include fz-14;
      line-height: 1.5;
      color: $color-text2;

      @include hover {
        color: $color-second;
      }
    }
  }

  &-text {
    font-weight: 400;
    @include fz-14;
    line-height: 1.6;
    color: $color-text2;
  }

  &-title {
    margin-bottom: 1.6rem;
    font-weight: 600;
    @include fz-16;
    line-height: 1.5;
    color: $color-text;
    text-align: center;
  }

  &-bottom {
    background-color: $color-pri;

    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    @media only screen and (max-width: 460px) {
      flex-direction: column-reverse;
    }
  }

  &-copyright {
    @include flex;
    justify-content: center;

    .text {
      margin-right: 0.5rem;
      @include flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      @include fz-14;
      line-height: 1.3;
      color: #1a1a1a;
      text-transform: capitalize;
    }

    .img {
      margin-left: 0.8rem;
    }
  }

  &-form {
    position: relative;
    flex: 1;
    margin-left: 4rem;

    @include max(800px) {
      margin-left: 0;
    }

    &-wrap {
      @include flex;
      align-items: center;
    }
  }

  &-input {
    flex: 1;
    height: 4.4rem;
    padding: 1.2rem 0 1.1rem;
    margin-right: 2.4rem;
    border-bottom: 1px solid rgba(26, 26, 26, 0.2);
    transition: all 0.3s ease-in-out;

    &:focus {
      border-bottom: 1px solid $color-third;
    }

    @include max(600px) {
      margin-right: 0;
    }

    &::placeholder {
      font-weight: 400;
      @include fz-16;
      line-height: 1.5;
      color: $color-text;
    }
  }

  &-btn {
    border-radius: 50%;
    background: linear-gradient(0deg, #0eb252 47.37%, #72c595 102.98%);
    color: white;

    .btn-inner {
      padding: 1rem 2.9rem 0.95rem;
    }
  }

  .menu {
    @include flex;
    flex-wrap: wrap;
    align-items: center;
   padding: 0 1.1rem;
    padding-bottom: 1rem;
    list-style: disc;
  

    @include max(1201px) {
      margin-left: -0.6rem;
      margin-right: -0.6rem;

    }

    @include max(850px) {
      justify-content: center;
    }

    .menu-item {
      position: relative;
      @include max(1024px) {
      margin-left: 2rem;
    }
    }

    a {
      padding: 0rem 0rem 0.5rem;
      color: $color-text2;
      font-size: 1.4rem;
      font-weight: 400;
      @include hover {
        color: $color-second;
      }

      @include max(1201px) {
        padding: 0.6rem 0.6rem 0.5rem;
      }
    }
  }

  &-sc {
    .text {
      margin-right: 1.6rem;
    }
  }
}

.footer-con {
  background-color: $color-pri;
}
