.links-main {
    position: fixed;
    bottom: 10%;
    right: -8rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 800;

    &-list {
        .links-main-item {
            margin-bottom: 0.8rem;
            cursor: pointer;

            @include hover {
                .link-items {
                    &::before {
                        background-color: rgba($color: $color-third, $alpha: 0.4);
                        transform: translate(-50%, -50%) scale(1) rotate(360deg);
                    }

                    .items-top {
                        img {
                            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7481%) hue-rotate(51deg) brightness(104%) contrast(100%);
                        }
                    }
                }
            }

            .link-items {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                background-color: #f2f2f2;
                border-radius: 50%;
                position: relative;

                img {
                    z-index: 4;
                    width: 1.6rem;
                    height: 1.6rem;
                }

                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: red;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) scale(0) rotate(0deg);
                    transition: all 0.3s linear;
                }

                .items-top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: absolute;
                    top: 50%;

                    img {
                        width: 1rem;
                        height: 0.6rem;



                    }

                    animation: arrowUp 1s ease-in-out infinite;

                    @keyframes arrowUp {
                        0% {
                            top: 50%;
                        }

                        20% {
                            top: 40%;
                        }

                        40% {
                            top: 30%;
                        }

                        100% {
                            top: 50%;
                        }
                    }
                }
            }
        }
    }

    &.active {
        opacity: 1;
        right: 2%;
    }
}