.pro {
  &-item {
    margin-bottom: 4rem;

    @include max(1024px) {
      margin-bottom: 2rem;
    }

    @include max(800px) {
      margin-bottom: 1.2rem;
    }

    @include max(600px) {
      padding-left: 0.3rem;
      padding-right: 0.3rem;
    }

    @include max(340px) {
      width: 100%;
    }

    &-wrap {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &-img {
      position: relative;
      overflow: hidden;
      border-radius: 0.8rem;

      .img-inner {
        @include imgPd(1, 1);
        border-radius: 0.8rem;

        >img {
          @include imgContain;
          transition: all 0.4s ease-in-out;
        }
      }

    }

    &-name {
      display: block;
      margin-bottom: 1.6rem;
      @include lc(2);
      font-weight: 600;

      @include max(600px) {
        font-size: 1.4rem;
      }
    }

    &-price {
      align-items: baseline;
    }

    &-cur {
      font-weight: 500;
      @include fz-20;
      display: block;
      margin-right: 1rem;
      color: $color-second;
    }

    &-old {
      line-height: 1.4;
      text-decoration-line: line-through;
      color: #98A2B3;
    }

    &-content {
      position: relative;
      padding-top: 1.6rem;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .icon-manu {
        @include mid-flex;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 50%;
        transition: all 0.8s, color 0.3s 0.3s, transform 0.3s;
        opacity: 0;

        &:not(:last-child) {
          margin-right: 3.2rem;
        }

        img {
          width: 2rem;
          transition: all 0.3s ease-in-out;
        }

        @include hover {
          box-shadow: 5rem 0 0 0 #0050B3 inset, -5rem 0 0 0 #0050B3 inset;
          
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }

    &-see {
      background: $color-pri;
      @include min(1202px) {
        transform: translateX(-5rem);
      }

      
    }

    &-pay {
      background: $color-second;
      @include min(1202px) {
        transform: translateX(5rem);
      }
    }

    &-check {
      cursor: pointer;
      .checkbox {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 0.3rem;
        border: 0.2rem solid #636060;
        @include mid-flex;
        background: white;
        transition: all 0.3s ease-in-out;

        i {
          color: white;
          font-size: 1.3rem;
        }
      }

      &.active {
        .checkbox {
          border-color: $color-second;
          background: $color-second;
        }
      }
    }

    &-bottom {
      margin-top: auto;
    }

    @include hover {
      .icon-manu {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}